COMPOSE_FILE_VAR=production.yml

DEBUG=false
DJANGO_LOG_LEVEL=INFO
SECRET_KEY=
# can be comma separated string
ALLOWED_HOSTS=
DJANGO_ALLOW_ASYNC_UNSAFE=true

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# for club rating
PANTHEON_DB_URL=

# sentry.io
SENTRY_DSN=

# for search engines analytics
GOOGLE_VERIFICATION_CODE=
YANDEX_VERIFICATION_CODE=

# for online tournaments
PANTHEON_EVENT_ID=
TOURNAMENT_ID=
TOURNAMENT_PUBLIC_LOBBY=
TOURNAMENT_PRIVATE_LOBBY=
TELEGRAM_ADMIN_USERNAME=
TELEGRAM_TOKEN=
TELEGRAM_CHANNEL_NAME=
DISCORD_TOKEN=
DISCORD_GUILD_NAME=
PANTHEON_URL=
PANTHEON_ADMIN_TOKEN=
TOURNAMENT_GAME_TYPE=0009
TOURNAMENT_API_TOKEN=

# for fetching mahjong soul statistics
MS_USERNAME=
MS_PASSWORD=
