COMPOSE_FILE_VAR=production.yml

DEBUG=false
DJANGO_LOG_LEVEL=INFO
SECRET_KEY=
# can be comma separated string
ALLOWED_HOSTS=
DJANGO_ALLOW_ASYNC_UNSAFE=true

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# for club rating
PANTHEON_DB_URL=

# sentry.io
SENTRY_DSN=

# for fetching mahjong soul statistics
MS_USERNAME=
MS_PASSWORD=

# pi
UNAMI_ID=
UNAMI_DOMAIN=
