COMPOSE_FILE_VAR=production.yml

DEBUG=false
DJANGO_LOG_LEVEL=INFO
SECRET_KEY=
# can be comma separated string
ALLOWED_HOSTS=

# for letsencrypt certificates
TZ=UTC
LE_EMAIL=name@example.com
LE_FQDN=www.example.com

GUNICORN_PORT=6101
GUNICORN_WORKERS=4

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# sentry.io
RAVEN_CONFIG=

# for user spying
YANDEX_METRIKA_ID=
GOOGLE_VERIFICATION_CODE=
YANDEX_VERIFICATION_CODE=

# for online tournaments
PANTHEON_EVENT_ID=
TOURNAMENT_ID=
TOURNAMENT_PUBLIC_LOBBY=
TOURNAMENT_PRIVATE_LOBBY=
TELEGRAM_TOKEN=
PANTHEON_URL=
PANTHEON_ADMIN_TOKEN=
TOURNAMENT_GAME_TYPE=0009

# for fetching mahjongsoul statistics
MS_USERNAME=
MS_PASSWORD=