{% load i18n %}

<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'Base rank' %}</th>
            <th scope="col">{% trans 'Date' %}</th>
            <th scope="col">{% trans 'Place' %}</th>
            <th scope="col">{% trans 'Power' %}</th>
            <th scope="col">{% trans 'Coefficient' %}</th>
            <th scope="col">{% trans 'Type' %}</th>
            <th scope="col">{% trans 'Tournament' %}</th>
            <th scope="col">{% trans 'City' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for delta in deltas %}
            <tr {% if not delta.is_active %}class="table-secondary" {% elif delta.tournament_id in top_tournament_ids %}class="table-success"{% endif %}>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    {% if delta.is_active %}
                        {% if delta.base_rank >= 750 %}
                            <span class="badge bg-success">{{ delta.base_rank|floatformat:0 }}</span>
                        {% elif delta.base_rank >= 500 %}
                            <span class="badge bg-primary">{{ delta.base_rank|floatformat:0 }}</span>
                        {% elif delta.base_rank >= 250 %}
                            <span class="badge bg-warning">{{ delta.base_rank|floatformat:0 }}</span>
                        {% else %}
                            <span class="badge bg-danger">{{ delta.base_rank|floatformat:0 }}</span>
                        {% endif %}
                    {% else %}
                        <span class="badge bg-secondary">{{ delta.base_rank|floatformat:0 }}</span>
                    {% endif %}
                </td>
                <td>
                    <nobr>{{ delta.tournament.end_date|date:SHORT_DATE_FORMAT }}</nobr>
                </td>
                <td>{{ delta.tournament_place }}/{{ delta.tournament.number_of_players }}</td>
                <td>
                    {{ delta.coefficient_obj.age|floatformat:0 }}%
                </td>
                <td>
                    {{ delta.coefficient_value|floatformat:2 }}
                </td>
                <td>
                    {% with delta.tournament as tournament %}
                        {% include 'tournament/_tournament_type.html' %}
                    {% endwith %}
                </td>
                <td><a href="{{ delta.tournament.get_url }}">{{ delta.tournament.name }}</a></td>
                <td>
                    {% if delta.tournament.city %}
                        <a href="{% url 'city_page' delta.tournament.city.slug %}">{{ delta.tournament.city.name }}</a>
                    {% else %}
                        {{ delta.tournament.country.name }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
