{% extends 'base.html' %}
{% load i18n russian_words_morph meta_tags_helper %}

{% block title %}
    {{ player.full_name }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ player.full_name }}</h1>
        <p>
            {% trans 'From' %}
            {% if player.city %}
                <a href="{% url 'city_page' player.city.slug %}">{{ player.city.name|genitive|title }}</a>,
                {{ player.country.name }}
            {% else %}
                {{ player.country.name|genitive|title }}
            {% endif %}
        </p>

        {% if player.ema_id %}
            <p>EMA: <a href="http://mahjong-europe.org/ranking/Players/{{ player.ema_id }}.html" target="_blank">{{ player.ema_id }}</a></p>
        {% endif %}

        {% if rating_results %}
            <h4>{% trans 'Ratings' %}</h4>
            <p>{% trans 'Table with all ratings where player was counted' %}</p>

            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'Place' %}</th>
                        <th scope="col">{% trans 'Scores' %}</th>
                        <th scope="col">{% trans 'Rating' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rating_result in rating_results %}
                        <tr>
                            <td>
                                {{ rating_result.place }}
                            </td>
                            <td>
                                {{ rating_result.score }}
                            </td>
                            <td>
                                <a href="{% url 'player_rating_details' player.slug rating_result.rating.slug %}">
                                    {{ rating_result.rating.name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if tournament_results %}
            <h4>{% trans 'Tournaments' %}</h4>

            {% with deltas=tournament_results highlight=False %}
                {% include 'player/_deltas_table.html' %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% player_page_description player %}">
    <meta property="og:description" content="{% player_page_description player %}">
{% endblock %}