{% extends 'base.html' %}
{% load i18n russian_words_morph meta_tags_helper tz %}

{% block title %}
    {{ player.full_name }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ player.full_name }}</h1>
        <p>
            {% trans 'From' %}
            {% if player.city %}
                <a href="{% url 'city_page' player.city.slug %}">{{ player.city.name|genitive|title }}</a>,
                {{ player.country.name }}
            {% else %}
                {{ player.country.name|genitive|title }}
            {% endif %}
        </p>

        {% if player.ema_id %}
            <p>EMA: <a href="http://mahjong-europe.org/ranking/Players/{{ player.ema_id }}.html" target="_blank">{{ player.ema_id }}</a></p>
        {% endif %}

        {% if rating_results %}
            <h4>{% trans 'Ratings' %}</h4>
            <p>{% trans 'Table with all ratings where player was counted' %}</p>

            <div class="table-responsive-sm">
                <table class="table table-hover" style="max-width: 450px">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'Rating' %}</th>
                        <th scope="col">{% trans 'Place' %}</th>
                        <th scope="col">{% trans 'Scores' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rating_result in rating_results %}
                        <tr>
                            <td width="250px">
                                <a href="{% url 'player_rating_details' player.slug rating_result.rating.slug %}">
                                    {{ rating_result.rating.name }}
                                </a>
                            </td>
                            <td>
                                {{ rating_result.place }}
                            </td>
                            <td>
                                {{ rating_result.score }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if tournament_results %}
            <h4>{% trans 'Latest tournaments' %}</h4>
            <p><a href="{% url 'player_tournaments' player.slug %}">{% trans 'all player tournaments' %}</a></p>

            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Base rank' %}</th>
                        <th scope="col">{% trans 'Place' %}</th>
                        <th scope="col">{% trans 'Date' %}</th>
                        <th scope="col">{% trans 'Type' %}</th>
                        <th scope="col">{% trans 'Tournament' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tournament_result in tournament_results %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if tournament_result.base_rank > 500 %}
                                    <span class="badge badge-success">{{ tournament_result.base_rank|floatformat:0 }}</span>
                                {% elif tournament_result.base_rank == 0 %}
                                    <span class="badge badge-primary">{{ tournament_result.base_rank|floatformat:0 }}</span>
                                {% else %}
                                    <span class="badge badge-danger">{{ tournament_result.base_rank|floatformat:0 }}</span>
                                {% endif %}
                            </td>
                            <td>{{ tournament_result.place }}/{{ tournament_result.tournament.number_of_players }}</td>
                            <td>
                                <nobr>{{ tournament_result.tournament.end_date|date:SHORT_DATE_FORMAT }}</nobr>
                            </td>
                            <td>
                                {% with tournament_result.tournament as tournament %}
                                    {% include 'tournament/_tournament_type.html' %}
                                {% endwith %}
                            </td>
                            <td><a href="{{ tournament_result.tournament.get_url }}">{{ tournament_result.tournament.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if tenhou_data %}
            <h4 id="tenhou">{% trans 'Tenhou.net profile' %}</h4>
            <p><a href="{% url 'player_tenhou_details' player.slug %}">{% trans 'more information' %}</a></p>

            {% for tenhou_item in tenhou_data %}
                <h5>{% trans 'Statistics for' %} {{ tenhou_item.tenhou_username }}</h5>
                <p class="mt-3">
                    {% trans 'Rank' %}: {{ tenhou_item.get_rank_display }}, {{ tenhou_item.pt }} / {{ tenhou_item.end_pt }}pt{% if tenhou_item.four_games_rate %}, R{{ tenhou_item.four_games_rate|floatformat:0 }}{% endif %}
                </p>
                {% if tenhou_item.last_played_date %}
                    <p>
                        {% trans 'Last played date:' %} {{ tenhou_item.last_played_date|date:SHORT_DATE_FORMAT }}
                    </p>
                {% endif %}

                {% with tenhou_item.prepare_latest_places as latest_games %}
                    {% timezone 'Europe/Moscow' %}
                        {% if latest_games %}
                            <p>
                                {% trans 'Latest places:' %}<br>
                                {% for x in latest_games %}
                                    {% if x.place == 1 %}
                                        <span class="badge badge-success" title="{{ x.game_end_date }} UTC+3">{{ x.place }}</span>
                                    {% elif x.place == 2 %}
                                        <span class="badge badge-info" title="{{ x.game_end_date }} UTC+3">{{ x.place }}</span>
                                    {% elif x.place == 3 %}
                                        <span class="badge badge-secondary" title="{{ x.game_end_date }} UTC+3">{{ x.place }}</span>
                                    {% elif x.place == 4 %}
                                        <span class="badge badge-danger" title="{{ x.game_end_date }} UTC+3">{{ x.place }}</span>
                                    {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endtimezone %}
                {% endwith %}

                {% if tenhou_item.month_played_games %}
                    <h5>{% trans 'Current month' %}</h5>
                    <p>
                        {% trans 'Games' %}: {{ tenhou_item.month_played_games }}, {% trans 'Avg. place' %}: {{ tenhou_item.month_average_place }}, {% trans 'Last played date:' %} {{ tenhou_item.last_played_date|date:SHORT_DATE_FORMAT }}
                    </p>
                    <div class="table-responsive-sm">
                        <table class="table table-hover mt-4">
                            <thead>
                            <tr>
                                <th scope="col">
                                    {% trans 'Lobby' %}
                                </th>
                                <th scope="col">
                                    {% trans 'Games' %}
                                </th>
                                <th scope="col">
                                    <nobr>{% trans 'Avg. place' %}</nobr>
                                </th>
                                <th scope="col">
                                    {% trans '1st' %}
                                </th>
                                <th scope="col">
                                    {% trans '2nd' %}
                                </th>
                                <th scope="col">
                                    {% trans '3rd' %}
                                </th>
                                <th scope="col">
                                    {% trans '4th' %}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stat_item in tenhou_item.current_month_stat  %}
                                <tr>
                                    <td>
                                        {{ stat_item.get_lobby_display }}
                                    </td>
                                    <td>
                                        {{ stat_item.played_games }}
                                    </td>
                                    <td>
                                        {{ stat_item.average_place|floatformat:2 }}
                                    </td>
                                    <td>
                                        {{ stat_item.first_place|floatformat:2 }}
                                    </td>
                                    <td>
                                        {{ stat_item.second_place|floatformat:2 }}
                                    </td>
                                    <td>
                                        {{ stat_item.third_place|floatformat:2 }}
                                    </td>
                                    <td>
                                        {{ stat_item.fourth_place|floatformat:2 }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% with tenhou_item.latest_yakumans as yakumans %}
                    {% if yakumans %}
                        <h5>{% trans 'Collected yakumans' %}</h5>
                        <table class="table table-hover mt-4" style="max-width: 550px">
                            <thead>
                            <tr>
                                <th scope="col">{% trans 'Yakuman' %}</th>
                                <th scope="col">{% trans 'Date' %}</th>
                                <th scope="col">{% trans 'Log' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for yakuman in yakumans %}
                                <tr>
                                    <td>
                                        {{ yakuman.yakuman_names }}
                                    </td>
                                    <td>
                                        {{ yakuman.date|date:SHORT_DATE_FORMAT }}
                                    </td>
                                    <td>
                                        <a href="{{ yakuman.get_log_link }}" target="_blank">
                                            {% trans 'link' %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endif %}

        {% if club_ratings %}
            <h4 class="mb-3" id="club">{% trans 'Club statistics' %}</h4>
            {% for item in club_ratings %}
                <h5><a href="{% url 'club_details' item.club.slug %}#stat">{{ item.club.name }}</a></h5>
                <p>{{ item.club.city }}</p>
                <div class="table-responsive-sm">
                    <table class="table table-hover mt-4">
                        <thead>
                        <tr>
                            <th scope="col">
                                {% trans 'Games' %}
                            </th>
                            <th scope="col">
                                <nobr>{% trans 'Avg. place' %}</nobr>
                            </th>
                            <th scope="col">
                                {% trans '1st' %}
                            </th>
                            <th scope="col">
                                {% trans '2nd' %}
                            </th>
                            <th scope="col">
                                {% trans '3rd' %}
                            </th>
                            <th scope="col">
                                {% trans '4th' %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{ item.games_count }}
                            </td>
                            <td>
                                {{ item.average_place|floatformat:2 }}
                            </td>
                            <td>
                                {{ item.first_place|floatformat:2 }}
                            </td>
                            <td>
                                {{ item.second_place|floatformat:2 }}
                            </td>
                            <td>
                                {{ item.third_place|floatformat:2 }}
                            </td>
                            <td>
                                {{ item.fourth_place|floatformat:2 }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% player_page_description player %}">
    <meta property="og:description" content="{% player_page_description player %}">
{% endblock %}
