{% extends 'base.html' %}
{% load i18n russian_words_morph %}

{% block title %}
    {{ player.full_name }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ player.full_name }}</h1>
        <p>
            {% trans 'From' %}
            {% if player.city %}
                <a href="{% url 'city_page' player.city.slug %}">{{ player.city.name|genitive|title }}</a>,
                {{ player.country.name }}
            {% else %}
                {{ player.country.name|genitive|title }}
            {% endif %}

        </p>

        {% for rating_result in rating_results %}
            <h4 class="mt-4"><a href="">{{ rating_result.rating.name }}</a></h4>

            <p>
                {% trans 'Place' %} {{ rating_result.place }} ({% trans 'scores' %} {{ rating_result.score }})
            </p>

            <p class="mb-2">
                <a class="ratingCalculationCollapse" data-toggle="collapse" href="#ratingCalculation" aria-expanded="false" aria-controls="ratingCalculation">
                    {% trans 'how we calculated rating score' %}
                </a>
            </p>

            <div class="collapse" id="ratingCalculation">
                <div class="card card-body">
                    score = {{ rating_result.rating_calculation }}
                </div>
            </div>

            <h4 class="mt-4">{% trans 'Rating changes' %}</h4>

            <table class="table table-hover table-responsive-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Base rank' %}</th>
                    <th scope="col">{% trans 'Date' %}</th>
                    <th scope="col">{% trans 'Place' %}</th>
                    <th scope="col">{% trans 'Tournament' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for delta in rating_result.get_deltas %}
                    <tr {% if not delta.is_active %}class="table-secondary"{% endif %}>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            {% if delta.is_active %}
                                {% if delta.base_rank > 500 %}
                                    <span class="badge badge-success">{{ delta.base_rank }}</span>
                                {% elif delta.base_rank == 0 %}
                                    <span class="badge badge-primary">{{ delta.base_rank }}</span>
                                {% else %}
                                    <span class="badge badge-danger">{{ delta.base_rank }}</span>
                                {% endif %}
                            {% else %}
                                <span class="badge badge-secondary">{{ delta.base_rank }}</span>
                            {% endif %}
                        </td>
                        <td><nobr>{{ delta.tournament.end_date|date:'d-m-Y' }}</nobr></td>
                        <td>{{ delta.tournament_place }}/{{ delta.tournament.number_of_players }}</td>
                        <td><a href="{{ delta.tournament.get_url }}">{{ delta.tournament.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="
    {% trans 'Riichi mahjong player' %} {{ player.full_name }}
    {% trans 'from' %}
    {% if player.city %}
        {{ player.city.name|genitive|title }}, {{ player.country }}
    {% else %}
        {{ player.country.name|genitive|title }}
    {% endif %}
">
{% endblock %}