{% extends 'base.html' %}
{% load i18n russian_words_morph meta_tags_helper static %}

{% block title %}
    {{ player.full_name }}. {{ rating.name }}
{% endblock %}

{% block content %}
    <div>
        {% include 'player/_player_header.html' %}

        <p><a href="{% url 'player_details' player.slug %}">{% trans 'Player page' %}</a></p>

        <h2>{{ rating.name }}</h2>

        <p class="small mt-0">
            {% trans 'Rating date' %} {{ today }} ({% trans 'latest changes' %} {{ rating_date }}).
        </p>

        <h4 class="mt-4">{% trans 'Rating changes' %}</h4>

        <div>
            {% include 'player/_changes_table.html' %}
        </div>
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ player.full_name }}. {{ rating.name }}">
    <meta property="og:description" content="{{ player.full_name }}. {{ rating.name }}">
{% endblock %}
