{% extends 'base.html' %}
{% load i18n russian_words_morph meta_tags_helper staticfiles %}

{% block title %}
    {{ player.full_name }}. {{ rating.name }}
{% endblock %}

{% block additional_js %}
    <script src="{% static 'js/сhart.bundle.min.js' %}"></script>
    <script>
        var last_rating_place = {{ last_rating_place }};
        var ctx = document.getElementById("rating_chart").getContext('2d');

        labels = [];
        rating_data = [];
        places_data = [];

        {% for x in filtered_results %}
            labels.push('{{ x.date|date:SHORT_DATE_FORMAT }}');
            rating_data.push({{ x.score|safe }});
            places_data.push({{ x.place }});
        {% endfor %}

        var font_size = 15;
        var ratingChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: '{% trans 'Rating' %}',
                        data: rating_data,
                        fill: false,
                        borderColor: 'rgb(153, 102, 255)',
                        backgroundColor: 'rgb(153, 102, 255)',
                        yAxisID: 'y-axis-1'
                    },
                    {
                        label: '{% trans 'Place' %}',
                        data: places_data,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        backgroundColor: 'rgb(75, 192, 192)',
                        yAxisID: 'y-axis-2'
                    }
                ]
            },
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                scales: {
                    yAxes: [
                        {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            id: 'y-axis-1',
                            scaleLabel: {
                                fontSize: font_size,
                                display: true,
                                labelString: '{% trans 'Rating' %}'
                            }
                        },
                        {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            id: 'y-axis-2',
                            ticks: {
                                min: 1,
                                reverse: true,
                                beginAtZero: false
                            },
                            scaleLabel: {
                                fontSize: font_size,
                                display: true,
                                labelString: '{% trans 'Place' %}'
                            }
                        }]
                },
                legend: {
                    display: true,
                    labels: {
                        fontSize: font_size
                    }
                }
            }
        });

        $(document).ready(function () {
            var default_chart = localStorage.getItem('default_chart');
            if (!default_chart) {
                default_chart = 'normalized'
            }

            if (default_chart === 'normalized') {
                display_normalized_chart();
            } else {
                display_original_chart();
            }

            $('#normalized-toggle').click(function () {
                display_normalized_chart();
            });

            $('#original-toggle').click(function () {
                display_original_chart();
            });
        });

        function display_original_chart() {
            $('#original-toggle').addClass('badge-success');
            $('#original-toggle').removeClass('badge-light');

            $('#normalized-toggle').removeClass('badge-success');
            $('#normalized-toggle').addClass('badge-light');

            ratingChart.options.scales.yAxes[0].ticks = {
                min: 0,
                max: 1000,
                beginAtZero: true
            };
            ratingChart.options.scales.yAxes[1].ticks.max = last_rating_place;
            ratingChart.update();

            localStorage.setItem('default_chart', 'original');
        }

        function display_normalized_chart() {
            $('#normalized-toggle').addClass('badge-success');
            $('#normalized-toggle').removeClass('badge-light');

            $('#original-toggle').removeClass('badge-success');
            $('#original-toggle').addClass('badge-light');

            ratingChart.options.scales.yAxes[0].ticks = {};
            delete ratingChart.options.scales.yAxes[1].ticks.max;
            ratingChart.update();

            localStorage.setItem('default_chart', 'normalized');
        }
    </script>
{% endblock %}

{% block additional_css %}
    <style>
        #normalized-toggle, #original-toggle {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <h1>{{ player.full_name }}</h1>
        <p>
            {% trans 'From' %}
            {% if player.city %}
                <a href="{% url 'city_page' player.city.slug %}">{{ player.city.name|genitive|title }}</a>,
                {{ player.country.name }}
            {% else %}
                {{ player.country.name|genitive|title }}
            {% endif %}
        </p>

        <p><a href="{% url 'player_details' player.slug %}">{% trans 'Player page' %}</a></p>

        <h2>{{ rating.name }}</h2>

        <p>
            {{ rating_result.place }} {% trans 'place' %}  ({{ rating_result.score }})
        </p>

        <p class="mb-2">
            <a class="ratingCalculationCollapse" data-toggle="collapse" href="#ratingCalculation{{ rating_result.id }}" aria-expanded="false">
                {% trans 'how we calculated rating score' %}
            </a>
        </p>

        <div class="collapse" id="ratingCalculation{{ rating_result.id }}">
            <div class="card card-body">
                score = {{ rating_result.rating_calculation }}
            </div>
        </div>

        <div class="mt-3 d-none d-md-block d-print-none">
            <p>
                {% trans 'Chart scale:' %}
                <span class="badge badge-light" id="normalized-toggle">{% trans 'normalized' %}</span>
                <span class="badge badge-light" id="original-toggle">{% trans 'original' %}</span>
            </p>
        </div>

        <canvas id="rating_chart" class="d-none d-md-block d-print-none"></canvas>

        <h4 class="mt-4">{% trans 'Rating changes' %}</h4>

        {% with deltas=rating_deltas %}
            {% include 'player/_deltas_table.html' %}
        {% endwith %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ player.full_name }}. {{ rating.name }}">
    <meta property="og:description" content="{{ player.full_name }}. {{ rating.name }}">
{% endblock %}