{% extends 'base.html' %}
{% load i18n russian_words_morph meta_tags_helper tz static %}

{% block title %}
    {{ player.full_name }}. {% trans 'Tenhou.net profile' %}
{% endblock %}

{% block additional_js %}
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/chartjs-adapter-date-fns.bundle.min.js' %}"></script>

    <script>
        var rank_changes = [];
        var ranks = [];
        {% for rank in RANKS reversed %}
            ranks.push('{{ rank.1 }}');
        {% endfor %}

        {% for c in tenhou_data.0.rank_changes %}
            {% if forloop.first %}
                rank_changes.push({
                    'x': '{{ c.game_date|date:'Y-m-d' }}',
                    'y': '{{ c.get_rank_display }}'
                });
            {% endif %}

            rank_changes.push({
                'x': '{{ c.game_date|date:'Y-m-d' }}',
                'y': '{{ c.get_next_rank_display }}'
            });

            {% if forloop.last %}
                rank_changes.push({
                    'x': '{% now 'Y-m-d' %}',
                    'y': '{{ c.get_next_rank_display }}'
                });
            {% endif %}
        {% endfor %}

        if (rank_changes.length) {
            var rankChart = new Chart('rank_chart', {
                responsive: true,
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: '{% trans 'Rank' %}',
                            data: rank_changes,
                            fill: false,
                            borderColor: 'rgb(153, 102, 255)',
                            backgroundColor: 'rgb(153, 102, 255)',
                            stepped: true
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time'
                        },
                        y: {
                            type: 'category',
                            labels: ranks
                        }
                    }
                }
            });
        }

        var pt_changes = [];
        var labels = [];
        {% for c in tenhou_data.0.pt_changes %}
            {% if forloop.first %}
                pt_changes.push({{ tenhou_data.0.dan_settings.start_pt }});
                labels.push("{{ c.game_date|date:'Y-m-d' }}");
            {% endif %}

            pt_changes.push(pt_changes[pt_changes.length - 1] + {{ c.delta }});
            labels.push("{{ c.game_date|date:'Y-m-d' }}");
        {% endfor %}

        if (pt_changes.length) {
            var ptChart = new Chart('pt_chart', {
                responsive: true,
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: '{% trans 'Points' %}',
                            data: pt_changes,
                            fill: false,
                            borderColor: 'green',
                            backgroundColor: 'green',
                            cubicInterpolationMode: 'monotone'
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            labels: labels,
                        },
                        y: {
                            min: 0,
                            max: {{ tenhou_data.0.dan_settings.end_pt }}
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div>
        <h1>{{ player.full_name }}</h1>
        {% include 'player/_player_header.html' %}

        <p><a href="{% url 'player_details' player.slug %}">{% trans 'Player page' %}</a></p>

        {% if tenhou_data %}
            {% for tenhou_item in tenhou_data %}
                {% with tenhou_item.four_players_aggregated_statistics as aggregated_stat %}
                    <h4>{% trans 'Statistics for' %} {{ tenhou_item.tenhou_username }}</h4>
                    <p class="mt-3">
                        {% trans 'Rank' %}: {{ aggregated_stat.get_rank_display }}, {{ aggregated_stat.pt }} / {{ aggregated_stat.end_pt }}pt{% if aggregated_stat.rate %}, R{{ aggregated_stat.rate|floatformat:0 }}{% endif %}
                    </p>
                    {% with tenhou_item.prepare_latest_places as latest_games %}
                        {% timezone 'Europe/Moscow' %}
                            {% if latest_games %}
                                <p>
                                    {% trans 'Latest places:' %}<br>
                                    {% for x in latest_games %}
                                        {% if x.place == 1 %}
                                            <span class="badge badge-success" title="{{ x.game_end_date }} UTC+3">{{ x.place }}</span>
                                        {% elif x.place == 2 %}
                                            <span class="badge badge-info" title="{{ x.game_end_date }} UTC+3">{{ x.place }}</span>
                                        {% elif x.place == 3 %}
                                            <span class="badge badge-secondary" title="{{ x.game_end_date }} UTC+3">{{ x.place }}</span>
                                        {% elif x.place == 4 %}
                                            <span class="badge badge-danger" title="{{ x.game_end_date }} UTC+3">{{ x.place }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endtimezone %}
                    {% endwith %}

                    {% if forloop.first %}
                        <div class="d-block d-print-none">
                            {% if tenhou_item.rank_changes %}
                                <h5>{% trans "Rank chart" %}</h5>
                                <canvas id="rank_chart"></canvas>
                            {% endif %}

                            {% if tenhou_item.pt_changes %}
                                <h5>{% trans "Pt chart" %}</h5>
                                <canvas id="pt_chart" class="d-block d-print-none"></canvas>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if aggregated_stat.month_played_games %}
                        <h5>{% trans 'Current month' %}</h5>
                        <p>
                            {% trans 'Games' %}: {{ aggregated_stat.month_played_games }}, {% trans 'Avg. place' %}: {{ aggregated_stat.month_average_place }}, {% trans 'Last played date' %}: {{ tenhou_item.last_played_date|date:SHORT_DATE_FORMAT }}
                        </p>
                        <div class="table-responsive-sm">
                            <table class="table table-hover mt-4">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        {% trans 'Lobby' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Games' %}
                                    </th>
                                    <th scope="col">
                                        <nobr>{% trans 'Avg. place' %}</nobr>
                                    </th>
                                    <th scope="col">
                                        {% trans '1st' %}
                                    </th>
                                    <th scope="col">
                                        {% trans '2nd' %}
                                    </th>
                                    <th scope="col">
                                        {% trans '3rd' %}
                                    </th>
                                    <th scope="col">
                                        {% trans '4th' %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stat_item in tenhou_item.current_month_stat  %}
                                    <tr>
                                        <td>
                                            {{ stat_item.get_lobby_display }}
                                        </td>
                                        <td>
                                            {{ stat_item.played_games }}
                                        </td>
                                        <td>
                                            {{ stat_item.average_place|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ stat_item.first_place|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ stat_item.second_place|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ stat_item.third_place|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ stat_item.fourth_place|floatformat:2 }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {% if aggregated_stat.played_games %}
                        <h5>{% trans 'All time' %}</h5>
                        <p>
                            {% trans 'Games' %}: {{ aggregated_stat.played_games }}, {% trans 'Avg. place' %}: {{ aggregated_stat.average_place }}{% if not aggregated_stat.month_played_games %}, {% trans 'Last played date' %}: {{ tenhou_item.last_played_date|date:SHORT_DATE_FORMAT }}{% endif %}
                        </p>

                        <div class="table-responsive-sm">
                            <table class="table table-hover mt-4">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        {% trans 'Lobby' %}
                                    </th>
                                    <th scope="col">
                                        {% trans 'Games' %}
                                    </th>
                                    <th scope="col">
                                        <nobr>{% trans 'Avg. place' %}</nobr>
                                    </th>
                                    <th scope="col">
                                        {% trans '1st' %}
                                    </th>
                                    <th scope="col">
                                        {% trans '2nd' %}
                                    </th>
                                    <th scope="col">
                                        {% trans '3rd' %}
                                    </th>
                                    <th scope="col">
                                        {% trans '4th' %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stat_item in tenhou_item.all_time_stat %}
                                    <tr>
                                        <td>
                                            {{ stat_item.get_lobby_display }}
                                        </td>
                                        <td>
                                            {{ stat_item.played_games }}
                                        </td>
                                        <td>
                                            {{ stat_item.average_place|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ stat_item.first_place|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ stat_item.second_place|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ stat_item.third_place|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ stat_item.fourth_place|floatformat:2 }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {% with tenhou_item.latest_yakumans as yakumans %}
                        {% if yakumans %}
                            <h5>{% trans 'Collected yakumans' %}</h5>
                            <table class="table table-hover mt-4" style="max-width: 550px">
                                <thead>
                                <tr>
                                    <th scope="col">{% trans 'Yakuman' %}</th>
                                    <th scope="col">{% trans 'Date' %}</th>
                                    <th scope="col">{% trans 'Log' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for yakuman in yakumans %}
                                    <tr>
                                        <td>
                                            {{ yakuman.yakuman_names }}
                                        </td>
                                        <td>
                                            {{ yakuman.date|date:SHORT_DATE_FORMAT }}
                                        </td>
                                        <td>
                                            <a href="{{ yakuman.get_log_link }}" target="_blank">
                                                {% trans 'link' %}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ player.full_name }}. {% trans 'Tenhou.net profile' %}">
    <meta property="og:description" content="{{ player.full_name }}. {% trans 'Tenhou.net profile' %}">
{% endblock %}
