{% extends 'base.html' %}
{% load i18n russian_words_morph meta_tags_helper player_helper %}

{% block title %}
    {{ player.full_name }}. {% trans 'Tournaments' %}
{% endblock %}

{% block content %}
    <div>
        {% include 'player/_player_header.html' %}

        <p><a href="{% url 'player_details' player.slug %}">{% trans 'Player page' %}</a></p>

        {% if tournament_results %}
            <h4>{% trans 'Tournaments' %}</h4>

            <div class="table-responsive-sm">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Base rank' %}</th>
                        <th scope="col" width="1ch"></th> <!-- medal for 1st-3rd places -->
                        <th scope="col">{% trans 'Place' %}</th>
                        <th scope="col">{% trans 'Date' %}</th>
                        <th scope="col">{% trans 'Type' %}</th>
                        <th scope="col">{% trans 'Tournament' %}</th>
                        <th scope="col">{% trans 'City' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tournament_result in tournament_results %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if tournament_result.base_rank >= 750 %}
                                    <span class="badge bg-success">{{ tournament_result.base_rank|floatformat:0 }}</span>
                                {% elif tournament_result.base_rank >= 500 %}
                                    <span class="badge bg-primary">{{ tournament_result.base_rank|floatformat:0 }}</span>
                                {% elif tournament_result.base_rank >= 250 %}
                                    <span class="badge bg-warning text-dark">{{ tournament_result.base_rank|floatformat:0 }}</span>
                                {% else %}
                                    <span class="badge bg-danger">{{ tournament_result.base_rank|floatformat:0 }}</span>
                                {% endif %}
                            </td>
                            <td>{{ tournament_result.place|place_medal|safe }}</td>
                            <td>{{ tournament_result.place }}/{{ tournament_result.tournament.number_of_players }}</td>
                            <td>
                                <nobr>{{ tournament_result.tournament.end_date|date:SHORT_DATE_FORMAT }}</nobr>
                            </td>
                            <td>
                                {% with tournament_result.tournament as tournament %}
                                    {% include 'tournament/_tournament_rating_type.html' %}
                                {% endwith %}
                            </td>
                            <td><a href="{{ tournament_result.tournament.get_url }}">{{ tournament_result.tournament.name }}</a></td>
                            <td>
                                {% if tournament_result.tournament.city %}
                                    <a href="{% url 'city_page' tournament_result.tournament.city.slug %}">{{ tournament_result.tournament.city.name }}</a>
                                {% else %}
                                    {{ tournament_result.tournament.country.name }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ player.full_name }}. {% trans 'Tournaments' %}">
    <meta property="og:description" content="{{ player.full_name }}. {% trans 'Tournaments' %}">
{% endblock %}
