{% load i18n %}

<nav aria-label="Player navigation" class="p-3">
    <ul class="pagination">
        {% if rating_results.has_previous %}
            <li class="page-item">
                <a href="?page={{ rating_results.previous_page_number }}"
                   class="page-link previous">&lsaquo;&lsaquo; {% trans "Previous" %}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link previous">&lsaquo;&lsaquo; {% trans "Previous" %}</span>
            </li>
        {% endif %}

        {% if rating_results.has_next %}
            <li class="page-item">
                <a href="?page={{ rating_results.next_page_number }}"
                   class="page-link previous">{% trans "Next" %} &rsaquo;&rsaquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link next">{% trans "Next" %} &rsaquo;&rsaquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>