{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ rating.name }}
{% endblock %}

{% block content %}
    <div>
        <h2>{{ rating.name }}</h2>
        <a href="{% url 'rating' rating.slug%}">{% trans 'current rating' %}</a>
        <div class="table-responsive-sm" style="max-width: 200px">
            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">{% trans 'Date' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in rating_dates %}
                    <tr>
                        <td>
                            <a href="{% url 'rating' rating.slug item.date.year item.date.month item.date.day %}">{{ item.date }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}