{% extends 'base.html' %}
{% load i18n tz %}

{% block title %}
    {{ rating.name }}
{% endblock %}

{% block content %}
    <div class="rating-details">
        <h1>{{ rating.name }}</h1>

        {% if rating.description %}
            <p class="d-print-none">{{ rating.description }}</p>
        {% endif %}

        {% timezone 'Europe/Moscow' %}
            <p>{% trans 'Latest update: ' %}{{ rating.updated_on }} (UTC+3)</p>
        {% endtimezone %}

        <p>
            <a href="{% url 'rating_tournaments' rating.slug %}">
                {% trans 'What tournaments were included to the rating?' %}
            </a>
        </p>

        {% include 'rating/_results_table.html' %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ rating.description }}">
    <meta property="og:description" content="{{ rating.description }}">
{% endblock %}