{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ rating.name }}
{% endblock %}

{% block content %}
    <div class="rating-details">
        <h1>{{ rating.name }}</h1>

        {% if rating.description %}
            <p class="d-print-none">{{ rating.description }}</p>
        {% endif %}

        {% if rating_results %}
            <p>{% trans 'Rating date' %} {{ rating_date }}</p>

            {% if not rating_date %}
                <p class="d-print-none">
                    <a href="{% url 'rating_tournaments' rating.slug %}">
                        {% trans 'What tournaments were included to the rating?' %}
                    </a>
                </p>
            {% endif %}

            {% include 'rating/_results_table.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ rating.description }}">
    <meta property="og:description" content="{{ rating.description }}">
{% endblock %}