{% extends 'base.html' %}
{% load i18n %}

{% block additiona_title %}
    {{ rating.name }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ rating.name }}</h1>
        <p>{{ rating_results.start_index }} &ndash; {{ rating_results.end_index }} {% trans 'of' %} {{ rating_results.paginator.count }}</p>

        {% include 'rating/_results_table.html' %}
        {% include 'rating/_pagination.html' %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ rating.description }}">
{% endblock %}