{% extends 'base.html' %}
{% load i18n meta_tags_helper %}

{% block title %}
    {{ rating.name }}. {% trans 'List of tournaments' %}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ rating.name }}</h1>
        <p>{% trans 'List of tournaments that were included in the rating.' %}</p>

        {% include 'tournament/_tournaments_table.html' %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ rating.name }}. {% trans 'List of tournaments that were included in the rating.' %}">
    <meta property="og:description" content="{{ rating.name }}. {% trans 'List of tournaments that were included in the rating.' %}">
{% endblock %}
