{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Mahjong Soul accounts' %}
{% endblock %}

{% block content %}
    <div>
        <h2>{% trans 'Mahjong Soul accounts' %}</h2>

         <p>{% trans 'Statistics updated once an hour.'|urlize %}</p>

        <div class="filters">
            <a href="{% url 'ms_accounts' 'four' %}">
                <span class="badge bg-{% if four_players %}success{% else %}primary{% endif %}">{% trans 'four players' %}</span>
            </a>
            <a href="{% url 'ms_accounts' 'three' %}">
                <span class="badge bg-{% if not four_players %}success{% else %}primary{% endif %}">{% trans 'sanma' %}</span>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover mt-2">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Player' %}</th>
                    <th scope="col">{% trans 'Rank' %}</th>
                    <th scope="col">{% trans 'Points' %}</th>
                    <th scope="col">{% trans 'Account' %}</th>
                    <th scope="col">{% trans 'Games' %}</th>
                    <th scope="col">{% trans 'Last played date' %}</th>
                    <th scope="col">{% trans 'City' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for stat in statistics %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            {% with player=stat.account.player is_ms=True %}
                                {% include 'common/_player_name.html' %}
                            {% endwith %}
                        </td>
                        <td>
                            <nobr>{{ stat.get_rank_display }}</nobr>
                        </td>
                        <td>
                            <nobr>{{ stat.points }} / {{ stat.max_pt }} </nobr>
                        </td>
                        <td>
                            {% if four_players %}
                                <a class="small text-secondary" href="https://amae-koromo.sapk.ch/player/{{ stat.account.account_id }}" target="_blank">
                                    {{ stat.account.account_name }}
                                </a>
                            {% else %}
                                <a class="small text-secondary" href="https://ikeda.sapk.ch/player/{{ stat.account.account_id }}" target="_blank">
                                    {{ stat.account.account_name }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {{ stat.played_games }}
                        </td>
                        <td>
                            {{ stat.last_account_played_date|date:SHORT_DATE_FORMAT }}
                        </td>
                        <td>
                            {% if stat.account.player.city %}
                                <a href="{% url 'city_page' stat.account.player.city.slug %}">{{ stat.account.player.city.name }}</a>
                            {% else %}
                                {% if stat.account.player.is_replacement or stat.account.player.is_hide %}
                                    -
                                {% else %}
                                    {{ stat.account.player.country }}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'Mahjong Soul accounts' %}. {% if four_players %}{% trans 'four players'|title %}{% else %}{% trans 'sanma'|title %}{% endif %}">
    <meta property="og:description" content="{% trans 'Mahjong Soul accounts' %}. {% if four_players %}{% trans 'four players'|title %}{% else %}{% trans 'sanma'|title %}{% endif %}">
{% endblock %}
