backups
tmp

**/__pycache__
server/collected_static
server/whoosh_index
server/mahjong_portal/settings_local.py
server/initial_seating.txt
server/team_seating.json
server/.ms
server/.flake8
server/pyproject.toml
server/shared

deploy
.envs
.github
.docker

*.log
*.pot
*.pyc
.DS_Store
league_teams.csv
