*.log
*.pot
*.pyc
*.pid
*.o
*.pyo
*.bak

collected_static
env
settings_local.py
.DS_Store
.idea
backups
db.sqlite3
whoosh_index
server/shared

initial_seating.txt
team_seating.json
league_teams.csv
league_seating.txt

yakuman
tmp
.ms

.env
etc
.envs/.production.env
