{% extends 'base.html' %}
{% load tz %}
{% load i18n %}

{% block title %}
    {% trans 'Yagi Keiji Cup' %}
{% endblock %}

{% block content %}
    <div>
        <h1 class="mb-3">{% trans 'Yagi Keiji Cup' %}</h1>

        <h3>{% trans 'Result table' %}</h3>

        <table class="table mt-2 table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Team' %}</th>
                <th>{% trans 'Player result on Tenhou platform' %}</th>
                <th>{% trans 'Player result on Majsoul platform' %}</th>
                <th class="bg-success-subtle">{% trans 'Team scores' %}</th>
            </tr>
            </thead>
            {% for result in results %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ result.team }}</td>
                    <td>{{ result.tenhou_player_place }}</td>
                    <td>{{ result.majsoul_player_place }}</td>
                    <td class="bg-success-subtle">{{ result.team_scores|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
