{% extends 'base.html' %}
{% load tz %}
{% load i18n player_helper %}

{% block title %}
    {% trans 'Yagi Keiji Cup' %}
{% endblock %}

{% block content %}
    <div>
        <h1 class="mb-3">{% trans 'Yagi Keiji Cup' %}</h1>

        <p>
            {% trans 'Held' %} {{ main_tournament.end_date }} <a href="{% url 'tournament_announcement' main_tournament.slug %}">{% trans 'Tournament announcement link' %}</a>
        </p>

        <p>
            {% trans 'Tenhou tournament' %}: <a href="{{ tenhou_tournament.get_url }}">{% trans 'all results' %}</a>
        </p>

        <p>
            {% trans 'Majsoul tournament' %}: <a href="{{ majsoul_tournament.get_url }}">{% trans 'all results' %}</a>
        </p>

        <h3>{% trans 'Result table' %}</h3>

        <table class="table mt-2 table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Team' %}</th>
                <th>{% trans 'Player nickname on Tenhou platform' %}</th>
                <th>{% trans 'Player result on Tenhou platform' %}</th>
                <th>{% trans 'Player nickname on Majsoul platform' %}</th>
                <th>{% trans 'Player result on Majsoul platform' %}</th>
                <th>{% trans 'Best avg. place in team' %}</th>
                <th class="bg-success-subtle">{% trans 'Team scores' %}</th>
            </tr>
            </thead>
            {% for result in results %}
                <tr>
                    <th scope="row"><nobr>{{ result.team_place }} {{ result.team_place|place_medal|safe }}</nobr></th>
                    <td>{{ result.result.team_name }}</td>
                    <td>{{ result.result.tenhou_player.tenhou_username }}</td>
                    <td>{% trans 'place in rating' %} - {{ result.result.tenhou_player_place }}, {% trans 'games count' %}: {{ result.result.tenhou_player_game_count }}</td>
                    <td>{{ result.result.majsoul_player.ms_username }}</td>
                    <td>{% trans 'place in rating' %} - {{ result.result.majsoul_player_place }}, {% trans 'games count' %}: {{ result.result.majsoul_player_game_count }}</td>
                    <td>{{ result.team_avg_place|floatformat:2 }}</td>
                    <td class="bg-success-subtle">{{ result.result.team_scores|floatformat:1 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
