{% load i18n %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">東</th>
            <th scope="col">南</th>
            <th scope="col">西</th>
            <th scope="col">北</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                {% for slot in game.slots.all %}
                    <td width="25%" {% if slot.assigned_player_id %}class="table-success"{% endif %}>
                        {{ slot.team.name|truncatewords:3 }}
                        {% if slot.team_id == user_team_id %}
                            {% if slot.assigned_player_id %}
                                ({{ slot.assigned_player.name }})
                            {% else %}
                                <a href="{% url 'league_confirm_slot' slot.id %}" class="btn btn-primary btn-sm">{% trans "I'm playing!" %}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
