{% extends 'base.html' %}
{% load tz %}
{% load i18n %}

{% block title %}
    {{ league.name }}
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ league.name }}. {{ league.description }}">
    <meta property="og:description" content="{{ league.name }}. {{ league.description }}" />
{% endblock %}

{% block content %}
    <div>
        <h1>{{ league.name }}</h1>
        <p>{{ league.description|linebreaksbr|urlize }}</p>
        <ul>
            <li>
                <a href="{% url 'league_teams' league.slug %}">{% trans 'Teams' %}</a>
            </li>
            <li>
                <a href="{% url 'league_schedule' league.slug %}">{% trans 'Schedule' %}</a>
            </li>
        </ul>

        {% if not user.is_authenticated %}
            <p>
                <a href="{% url 'do_login' %}?next={% url 'league_details' league.slug %}" class="btn btn-primary">{% trans 'Login through Pantheon' %}</a>
            </p>
        {% endif %}

        {% if my_team_games %}
            <h3>{% trans 'My team games' %}</h3>
            {% with games=my_team_games user_team_id=user_team_id %}
                {% include 'league/_schedule_games_table.html' %}
            {% endwith %}
        {% endif %}

        {% if upcoming_session %}
            <h3>{% trans 'Upcoming session' %}</h3>
            {% with session=upcoming_session is_upcoming_games=True %}
                {% include 'league/_schedule_item.html' %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}
