{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <div class="col-lg-7">
        <h2>{% trans 'Login through Pantheon' %}</h2>

        <p class="mb-2">{% trans 'Please use your login and password from https://rating.riichimahjong.org/ to login.'|urlize %}</p>
        <p class="mt-0">{% trans 'We are not storing these credentials, they are used only during the login process.' %}</p>

        <form action="{% url 'do_login' %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% bootstrap_form form %}

            <div class="text-end">
                <button type="submit" class="btn btn-primary">{% trans 'Login' context 'action' %}</button>
            </div>
        </form>
    </div>
{% endblock %}
