{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <div class="col-lg-6">
        <h2>{% trans 'Login' %}</h2>

        <p>
            {% trans "If you don't have an account yet:" %} <a class="btn btn-sm btn-outline-primary" href="{% url 'sign_up' %}">{% trans 'Sign up' context 'action' %}</a>
        </p>

        <form action="{% url 'login' %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% bootstrap_form form %}

            <div class="text-end">
                <button type="submit" class="btn btn-primary">{% trans 'Login' context 'action' %}</button>
            </div>
        </form>
    </div>
{% endblock %}
