{% extends 'base.html' %}
{% load i18n bootstrap4 %}

{% block title %}
    {% trans 'Admin page' %}
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        <h2>Добавление нового игрока</h2>
        <form action="{% url 'add_new_player' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-right">
                <input class="btn btn-primary" type="submit" value="Добавить">
            </div>
        </form>
    </div>
{% endblock %}