{% load tenhou_helper %}

<a href="https://nodocchi.moe/tenhoulog/#!&name={{ player.name }}" style="color: black" target="_blank">
    {% if player.dan >= 18 %}
        <b>{{ player.dan|display_dan }} R{{ player.rate|display_rate }}</b>
    {% else %}
        {{ player.dan|display_dan }} R{{ player.rate|display_rate }}
    {% endif %}
</a>

<br>

<a href="{{ player.game_link }}" target="_blank">
    {% if player.is_bot %}
        <nobr><b>{{ player.name }}</b></nobr>
    {% else %}
        <nobr>{{ player.name }}</nobr>
    {% endif %}
</a>

{% with player_profiles|get_item:player.name as player_profile %}
    {% if player_profile %}
        (<a href="{% url 'player_details' player_profile.slug %}">{{ player_profile.last_name }}</a>)
    {% endif %}
{% endwith %}
