{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Tenhou.net games history' %} {{ query_date|date:SHORT_DATE_FORMAT }}
{% endblock %}

{% block content %}
    <div>
        <p><a href="{% url 'tenhou_games_history' previous_day.year previous_day.month previous_day.day %}">{% trans 'Previous day' %}</a></p>
        <h1>{% trans 'Tenhou.net games history' %} {{ query_date|date:SHORT_DATE_FORMAT }}</h1>

        {% if rank_changes %}
            <h3>{% trans 'Rank changes' %}</h3>
            <div class="table-responsive" style="max-width: 550px">
                <table class="table table-hover mt-4">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'Player' %}</th>
                        <th scope="col" style="text-align: center">{% trans 'Rank changes' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in rank_changes %}
                        <tr>
                            <td>
                                {% with game.tenhou_object.player as player %}
                                    {% include 'common/_player_name.html' %}
                                {% endwith %}
                            </td>
                            <td style="text-align: center">
                                <nobr>
                                    <span class="badge bg-primary">
                                        {{ game.get_rank_display }}
                                    </span>
                                    ->
                                    <span class="badge bg-{{ game.badge_class }}">
                                        {{ game.get_next_rank_display }}
                                    </span>
                                </nobr>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if games %}
            <h3>{% trans 'Records' %}</h3>
            <p>{% trans 'Games' %}: {{ total }}, {% trans 'hours spent' %}: {{ time_spent|floatformat:1 }}.</p>

            <div class="table-responsive">
                <table class="table table-hover mt-4">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'Player' %}</th>
                        <th scope="col">{% trans 'Rank' %}</th>
                        <th scope="col">{% trans 'Place' %}</th>
                        <th scope="col">{% trans 'Delta' %}</th>
                        <th scope="col">{% trans 'Type' %}</th>
                        <th scope="col">{% trans 'Lobby' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td>
                                {% with game.tenhou_object.player as player %}
                                    {% include 'common/_player_name.html' %}
                                {% endwith %}
                            </td>
                            <td>
                                <nobr>{{ game.get_rank_display }}</nobr>
                            </td>
                            <td>
                                {{ game.place }}
                            </td>
                            <td>
                                <nobr>
                                    {% if game.delta > 0 %}
                                        <span class="badge bg-success">{{ game.delta }}</span>
                                    {% elif game.delta == 0 %}
                                        <span class="badge bg-secondary">{{ game.delta }}</span>
                                    {% else %}
                                        <span class="badge bg-danger">{{ game.delta }}</span>
                                    {% endif %}
                                </nobr>
                            </td>
                            <td>
                                {{ game.game_type }}
                            </td>
                            <td>
                                {{ game.get_lobby_display }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'Tenhou.net games history' %} {{ query_date|date:SHORT_DATE_FORMAT }}">
    <meta property="og:description" content="{% trans 'Tenhou.net games history' %} {{ query_date|date:SHORT_DATE_FORMAT }}">
{% endblock %}
