{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Latest yakumans' %}
{% endblock %}

{% block content %}
    <div>
        <h2>{% trans 'Latest yakumans' %}</h2>

        <div class="table-responsive">
            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">{% trans 'Yakuman' %}</th>
                    <th scope="col">{% trans 'Player' %}</th>
                    <th scope="col">{% trans 'Date' %}</th>
                    <th scope="col">{% trans 'Log' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for yakuman in yakumans %}
                    <tr>
                        <td>
                            {{ yakuman.yakuman_names }}
                        </td>
                        <td>
                            {% with yakuman.tenhou_object.player as player %}
                                {% include 'common/_player_name.html' %}
                            {% endwith %}
                        </td>
                        <td>
                            {{ yakuman.date|date:SHORT_DATE_FORMAT }}
                        </td>
                        <td>
                            <a href="{{ yakuman.get_log_link }}" target="_blank">
                                {% trans 'link' %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'Latest yakumans' %}">
    <meta property="og:description" content="{% trans 'Latest yakumans' %}">
{% endblock %}
