{% extends 'base.html' %}
{% load i18n tenhou_helper %}

{% block title %}
    {% trans 'Tenhou accounts' %}
{% endblock %}

{% block content %}
    <div>
        <h2>{% trans 'Tenhou accounts' %}</h2>
        <p>{% trans 'Statistics updated every 5 minutes.'|urlize %}</p>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Player' %}</th>
                    <th scope="col">{% trans 'Dan' %}</th>
                    <th scope="col">{% trans 'Rate' %}</th>
                    <th scope="col">{% trans 'Tenhou account' %}</th>
                    <th scope="col">{% trans 'Scores' %}</th>
                    <th scope="col">{% trans 'Games' %}</th>
                    <th scope="col">{% trans 'Last played date' %}</th>
                    <th scope="col">{% trans 'City' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            {% with player=account.player is_tenhou=True %}
                                {% include 'common/_player_name.html' %}
                                <a class="small text-secondary" href="https://nodocchi.moe/tenhoulog/#!&name={{ account.tenhou_object.tenhou_username }}" target="_blank">[nodochi]</a>
                            {% endwith %}
                        </td>
                        <td>
                            <nobr>{{ account.get_rank_display }}</nobr>
                        </td>
                        <td>
                            {% if account.rate %}
                                R{{ account.rate|display_rate }}
                            {% endif %}
                        </td>
                        <td>
                            {{ account.tenhou_object.tenhou_username }}
                        </td>
                        <td>
                            <nobr>{{ account.pt }} / {{ account.end_pt }}pt</nobr>
                        </td>
                        <td>
                            {{ account.played_games }}
                        </td>
                        <td>
                            {{ account.tenhou_object.last_played_date|date:SHORT_DATE_FORMAT }}
                        </td>
                        <td>
                            {% if account.player.city %}
                                <a href="{% url 'city_page' account.player.city.slug %}">{{ account.player.city.name }}</a>
                            {% else %}
                                {% if account.player.is_replacement or account.player.is_hide %}
                                    -
                                {% else %}
                                    {{ account.player.country }}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'Tenhou accounts' %}">
    <meta property="og:description" content="{% trans 'Tenhou accounts' %}">
{% endblock %}
