{% load i18n tz %}


{% timezone 'Europe/Moscow' %}
    <p class="small">{% trans 'update time' %} {% now 'H:i:s' %} (UTC+3)</p>
{% endtimezone %}

{% if our_players_games %}
    <h2>{% trans 'Current games with our players' %}</h2>
    {% trans 'Games from upperdan and phoenix with portal players.' %}
    {% with our_players_games as games %}
        {% include 'tenhou/_tenhou_table.html' %}
    {% endwith %}
{% endif %}

{% if high_level_games or high_level_hirosima_games %}
    <h2>{% trans 'Current games with high level players' %}</h2>
    <p>{% trans 'Games with 9 dan, 10 dan and tenhou dan players.' %}</p>

    {% if high_level_games %}
        {% with high_level_games as games %}
            {% include 'tenhou/_tenhou_table.html' %}
        {% endwith %}
    {% endif %}

    {% if high_level_hirosima_games %}
        <h3>{% trans 'Sanma' %}</h3>
        {% with high_level_hirosima_games as games %}
            {% include 'tenhou/_tenhou_table.html' %}
        {% endwith %}
    {% endif %}
{% endif %}

{% if bot_games %}
    <h2>{% trans 'Mahjohg bots' %}</h2>

    {% with bot_games as games %}
        {% include 'tenhou/_tenhou_table.html' %}
    {% endwith %}
{% endif %}
