{% load staticfiles i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% spaceless %}{% block title %}{% endblock %}{% endspaceless %}</title>

    {% if GOOGLE_VERIFICATION_CODE %}
        <meta name="google-site-verification" content="{{ GOOGLE_VERIFICATION_CODE }}" />
    {% endif %}

    {% if YANDEX_VERIFICATION_CODE %}
        <meta name="yandex-verification" content="{{ YANDEX_VERIFICATION_CODE }}" />
    {% endif %}

    <meta property="og:url" content="{{ SCHEME }}://{{ request.get_host }}{{ request.get_full_path }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image" content="{{ SCHEME }}://{{ request.get_host }}{% static 'img/main.jpeg' %}" />

    {% block meta_tags %}
    {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {% block additional_css %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top d-print-none">
    <a class="navbar-brand" href="{% url 'home' %}">{% trans "Mahjong portal" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Ratings' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'rating_list' %}">{% trans 'Ratings' %}</a>
                    <a class="dropdown-item" href="{% url 'about' %}">{% trans 'About' %}</a>
                    <a class="dropdown-item" href="{% url 'rating_faq' %}">FAQ</a>
                </div>
            </li>
            <li class="nav-item {% if page == 'tournament' %}active{% endif %}">
                <a class="nav-link" href="{% url 'tournament_list' CURRENT_YEAR %}">{% trans 'Tournaments' %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    EMA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'rating' 'ema' %}">{% trans 'Rating' %}</a>
                    <a class="dropdown-item" href="{% url 'tournament_ema_list' 'ema' CURRENT_YEAR %}">{% trans 'Tournaments' %}</a>
                    <a class="dropdown-item" href="{% url 'best_countries' %}">{% trans 'EMA Countries Ranking' %}</a>
                    <a class="dropdown-item" href="{% url 'ema_quotas' %}">{% trans 'EMA Quotas' %}</a>
                </div>
            </li>
            <li class="nav-item {% if page == 'club' %}active{% endif %}">
                <a class="nav-link" href="{% url 'club_list' %}">{% trans 'Clubs' %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Online' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'get_current_tenhou_games' %}">{% trans 'Current tenhou.net games' %}</a>
                    <a class="dropdown-item" href="{% url 'tenhou_accounts' %}">{% trans 'Tenhou accounts' %}</a>
                    <a class="dropdown-item" href="{% url 'ms_accounts' %}">{% trans 'Mahjong soul accounts' %}</a>
                    <a class="dropdown-item" href="{% url 'tenhou_games_history' %}">{% trans 'Tenhou games history' %}</a>
                    <a class="dropdown-item" href="{% url 'latest_yakumans' %}">{% trans 'Latest yakumans' %}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Other' %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'contacts' %}">{% trans 'Contacts' %}</a>
                    <a class="dropdown-item" href="{% url 'tournament_application' %}">{% trans 'Tournament application' %}</a>
                    <a class="dropdown-item" href="{% url 'championships' %}">{% trans 'Championships' %}</a>
                </div>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Django admin' %}</a>
                            <a class="dropdown-item" href="{% url 'system_index' %}">{% trans 'Admin page' %}</a>
                            <a class="dropdown-item" href="{% url 'transliterate_text' %}">Transliterate</a>
                        {% endif %}
                        {% if user.is_tournament_manager %}
                            <a class="dropdown-item" href="{% url 'managed_tournaments' %}">{% trans 'Tournaments' %}</a>
                        {% endif %}
                        {% if user.is_ema_players_manager %}
                            <a class="dropdown-item" href="{% url 'list_of_ema_players' %}">EMA игроки</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                    </div>
                </li>
            {% endif %}
        </ul>

        <form class="form-inline my-2 my-lg-0 d-md-none d-lg-block" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="text" name="q" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}" {% if search_query %}value="{{ search_query }}"{% endif %} required="required">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans 'Search' %}</button>
        </form>
    </div>
</nav>

<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>

<section class="d-print-none">
    <div class="container">
        <div class="float-left version-block">
            <a href="https://github.com/MahjongRepository/mahjong-portal" target="_blank" style="top: -2px;">
                {% trans 'source code' %}
            </a>
        </div>
        <div class="languageChange">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />

                <div class="form-group">
                    <select name="language" class="form-control form-control-sm" id="languageChangeInput">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>
    $(document).ready(function () {
        if(window.location.hash) {
            $('html, body').animate({ scrollTop: $(window.location.hash).offset().top - 60}, 50);
        }
    });
</script>
{% block additional_js %}
{% endblock %}
</body>
</html>