body {
    margin-top: 80px;
}

.languageChange select {
    width: 150px;
    margin-top: 40px;
    margin-right: 20px;
}

.version-block {
    margin-right: 20px;
    margin-top: 5px;
}

.filters a {
    text-decoration: none;
    margin-right: 10px;
}