{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Admin page' %}
{% endblock %}

{% block content %}
    <div>
        <h1>{% trans 'Managed tournaments' %}</h1>
        {% if tournaments %}
            <table class="table table-hover table-responsive-sm mt-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Start Date' %}</th>
                    <th scope="col">{% trans 'End Date' %}</th>
                    <th scope="col">{% trans 'Players' context 'number of players' %}</th>
                    <th scope="col">{% trans 'Sessions' %}</th>
                    <th scope="col">{% trans 'Action' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{{ tournament.get_url }}">{{ tournament.name }}</a></td>
                        <td>
                            <nobr>{{ tournament.start_date|date:SHORT_DATE_FORMAT }}</nobr>
                        </td>
                        <td>
                            <nobr>{{ tournament.end_date|date:SHORT_DATE_FORMAT }}</nobr>
                        </td>
                        <td>{{ tournament.number_of_players|default:'-' }}</td>
                        <td>{{ tournament.number_of_sessions|default:'-' }}</td>
                        <td>
                            <a href="{% url 'manage_tournament' tournament.id %}" class="btn btn-primary">{% trans 'Manage' %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans 'Nothing here' %}</p>
        {% endif %}
    </div>
{% endblock %}