{% load i18n tenhou_helper humanize %}

<div class="table-responsive">
    <table class="table mt-2 mb-4 table-bordered">
        <thead>
        <tr>
            <th scope="col">{% trans 'Start' %}</th>
            <th scope="col">
                東
            </th>
            <th scope="col">
                南
            </th>
            <th scope="col">
                西
            </th>
            <th scope="col">
                北
            </th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td style="align-items : center;">
                    {{ game.game_type }} {{ game.start_time|naturaltime }}
                </td>
                {% for player in game.players %}
                    <td>
                        {% if player.dan >= 18 %}
                            <b>{{ player.dan|display_dan }} R{{ player.rate|floatformat:0 }}</b>
                        {% else %}
                            {{ player.dan|display_dan }} R{{ player.rate|floatformat:0 }}
                        {% endif %}

                        <br>

                        <a href="{{ player.game_link }}" target="_blank">
                            <nobr>{{ player.name }}</nobr>
                        </a>

                        {% with player_profiles|get_item:player.name as player_profile %}
                            {% if player_profile %}
                                (<a href="{% url 'player_details' player_profile.slug %}">{{ player_profile.last_name }}</a>)
                            {% endif %}
                        {% endwith %}
                    </td>
                {% endfor %}
                {% if not game.players.3 %}
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>