{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'About' %}
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Еще одна версия турнирного рейтинга России по риичи маджонгу. Все еще в разработке.">
    <meta property="og:description" content="Еще одна версия турнирного рейтинга России по риичи маджонгу. Все еще в разработке.">
{% endblock %}

{% block content %}
    <div>
        <p>Еще одна версия турнирного рейтинга России по риичи маджонгу.</p>
        <p>Описание в разработке.</p>
    </div>

{% endblock %}