{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'About' %}
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Еще одна версия турнирного рейтинга России по риичи маджонгу.">
    <meta property="og:description" content="Еще одна версия турнирного рейтинга России по риичи маджонгу.">
{% endblock %}

{% block content %}
    <div>
        <p>На данный моменты мы поддерживаем три рейтинга:</p>
        <ol>
            <li><a href="#rr">Внутренний рейтинг (RR)</a></li>
            <li><a href="#crr">Общий рейтинг (CRR)</a></li>
            <li><a href="#ema">Рейтинг ЕМА</a></li>
        </ol>

        <h1 id="rr">Внутренний рейтинг (RR)</h1>
        <p>Внутренний российский рейтинг игроков в риичи маджонг (далее RR).</p>
        <p>В него попадают турниры, прошедшие за последние два года. До 2018 года в зачет идут все турниры на 16+ участников, а начиная с 2018 года - только турниры, аккредитованные Федерацией Маджонга.</p>

        <h2>Формула расчета</h2>
        <p>Формула расчета RR базируется на формуле расчета рейтинга EMA 2018 года, однако имеет ряд отличий, которые призваны устранить имеющиеся недостатки EMA-рейтинга и сделать рейтинг более подходящим российским реалиям.</p>
        <p>Расчеты рейтинга состоят из двух частей.</p>

        <h3>Первая часть</h3>
        <p>Формула расчета первой части:</p>
        <p><code>A = (W1*R1*A1 + … ) / (W1*A1 + …)</code></p>
        <p>Где W = вес турнира, R = базовый ранг игрока по результатам турнира, A = коэффициент устаревания турнира.</p>
        <p>Схемы расчета коэффициентов W, R и A представлены далее.</p>
        <p>Если игрок сыграл меньше 5 турниров, то для всех недостающих турниров в формулу подставляются нулевые значения в числитель и единица - в знаменатель. Таким образом, игрок получает максимальный результат в первой части формулы, сыграв 5 и больше турниров.</p>
        <p>Если игрок сыграл больше 5 турниров, то в первую часть идут 5 + 80% оставшихся его лучших (по базовому рангу) турниров с округлением в большую сторону. Это позволяет не учитывать самые плохие результаты для игроков, активно принимающих участие в турнирах.</p>
        <p>Пример выбора количества турниров:</p>
        <ul>
            <li>5 и меньше турниров. Все результаты идут в зачет</li>
            <li>10 турниров. 9 лучших результатов идут в зачет (5+5*80%=9)</li>
            <li>11 турниров. 10 лучших результатов идут в зачет (5+6*80%=10)</li>
            <li>15 турниров. 13 лучших результатов идут в зачет (5+10*80%=13)</li>
            <li>20 турниров. 17 лучших результатов идут в зачет (5+15*80%=17)</li>
            <li>25 турниров. 21 лучший результат идет в зачет (5+20*80%=21)</li>
        </ul>

        <h3>Вторая часть</h3>
        <p>Вторая часть формулы - это четыре лучших турнира игрока за последние два года (лучшие по произведению базового ранга игрока в турнире, коэффициента турнира и коэффициента устаревания), рассчитанные по формуле:</p>
        <p><code>B = (W1*R1*A1 + W2*R2*A2 + W3*R3*A3 + W4*R4*A4) / [MAXK1 + MAXK2 + MAXK3 + MAXK4])</code></p>
        <p>Где MAXK1..4 - четыре максимальных коэффициента турниров, выбранные из всех турниров, прошедших за последние 2 года (с учетом устаревания). Эти коэффициенты одинаковы для всех игроков.</p>

        <h3>Окончательный результат</h3>
        <p>Обе части (A и B) умножаются на 0.5 и суммируются.</p>
        <p><code>рейтинг = A * 0.5 + B * 0.5</code></p>

        <h2>Требования к турнирам</h2>
        <p>В рейтинг попадают все турниры на 16+ человек за прошлые годы.</p>
        <p>С 2018 года в рейтинг попадают турниры с официальной аккредитацией Федерации Маджонга. Официальную аккредитацию Федерации Маджонга может получить только открытый турнир. Открытым считается турнир, в которым как минимум половина мест доступна для свободной регистрации.</p>
        <p>Официальные зарубежные ЕМА турниры также идут в рейтинг, если в них участвовал игрок из России.</p>
        <p>Клубные зарубежные турниры (без аккредитации ЕМА) не учитываются.</p>

        <h2>Требования к игрокам</h2>
        <p>В рейтинг попадают игроки с двумя и больше сыгранными турнирами.</p>

        <h2>Базовый ранг игрока</h2>
        <p>В формуле расчета рейтинга ранг определен как R.</p>
        <p>Турнирные результаты игрока всегда между 0 и 1000 и рассчитываются по алгоритму:</p>
        <ol>
            <li>Из количества участников турнира отнять место игрока</li>
            <li>Разделить на (количество игроков - 1)</li>
            <li>Умножить на 1000</li>
        </ol>
        <p>В частности: за первое место игрок получает 1000, за последнее место 0.</p>
        <p>Например, в турнире с 100 участвующими игрок занял 25 место. </p>
        <p><code>Базовый ранг = ((100 - 25) / (100 - 1)) * 1000 = 757</code></p>

        <h2>Турнирный коэффициент</h2>
        <p>В формуле расчета рейтинга турнирный коэффициент определен как W.</p>
        <p>Турнирный коэффициент повышается за счет следующих факторов:</p>
        <ol>
            <li>Количество ханчанов турнира.</li>
            <li>Количество участников турнира.</li>
        </ol>
        <p>В рейтинге RR не учитываются такие неигровые факторы, как число приезжих игроков и наличие EMA-аккредитации.</p>
        <p><code>K<sub>турнира</sub> = K<sub>количество ханчанов</sub> + K<sub>количество участников</sub></code></p>

        <h3>Количество ханчанов</h3>
        <p>Базовый коэффициент равен 0.</p>
        <p>Чем больше дистанция турнира, тем меньше влияние на результаты турнира элементов случайности и больше влияние силы игрока. В связи с этим коэффициент турнира растет в зависимости от числа ханчанов в этом турнире.</p>
        <p>Первые 8 ханчанов увеличивают коэффициент на 0.20 каждый ханчан.</p>
        <p>С 9 по 12 ханчан включительно коэффициент увеличивается на 0.15 за каждый ханчан.</p>
        <p>С 13 по 16 ханчан включительно коэффициент увеличивается на 0.10 за каждый ханчан.</p>
        <p>С 17 по 20 ханчан включительно коэффициент увеличивается на 0.05 за каждый ханчан.</p>
        <p>После 20 ханчанов коэффициент фиксированный и равен 2.8.</p>
        <p>Например, турнир с 10 ханчанами получит дополнительный коэффициент 8 * 0.20 за первые 8 ханчанов и 2 * 0.15 за оставшиеся 2 ханчана.</p>
        <p><code>K<sub>количество ханчанов</sub> = 8 * 0.2 + 2 * 0.15 = 1.9</code></p>

        <h3>Количество участников</h3>
        <p>Базовый коэффициент равен 0.</p>
        <p>Крупные турниры привлекают сильных игроков, и потому, чем крупнее турнир, тем ценнее хороший результат в таком турнире. В связи с этим коэффициент турнира растет в зависимости от количества участников.</p>
        <p>Для первых 80 участников турнира коэффициент увеличивается на 0.1 за каждых 4-х участников.</p>
        <p>С 81 по 160 участников турнира коэффициент увеличивается на 0.05 за каждых 4-х участников.</p>
        <p>После 160 участников, коэффициент фиксированный и равен 3.</p>
        <p>Например, турнир со 100 участниками получит дополнительный коэффициент (80 / 4) * 0.1 за первых 80 участников и (22 / 4) * 0.05 за оставшихся 20 участников.</p>
        <p><code>K<sub>количество участников</sub> = (80 / 4) * 0.1 + (22 / 4) * 0.05 = 20 * 0.1 + 5 * 0.05 = 2.275</code></p>

        <h2>Угасание результатов</h2>
        <p>В формуле расчета рейтинга возраст турнира определен как A.</p>
        <p>Результаты турниров, проведенных за последние 12 месяцев, считаются актуальными и учитываются полностью. Далее турнир устаревает на 33% каждые 6 месяцев. Таким образом в зачет идут только турниры, сыгранные за последние 2 года.</p>

        <h1 id="crr">Общий рейтинг (CRR)</h1>
        <p>Все расчёты идентичны рейтингу RR. CRR отличается только турнирами которые идут в зачёт. В нем учитываются все российские турниры на 12+ человек за два года и официальные ЕМА турниры.</p>

        <h1 id="ema">Рейтинг ЕМА</h1>
        <p>Заново посчитанный официальный рейтинг ЕМА.</p>
    </div>
{% endblock %}