{% extends 'base.html' %}
{% load i18n russian_words_morph %}

{% block title %}
    {{ city.name }}
{% endblock %}

{% block content %}
    <div>
        {% if tournaments %}
            <h1>{% trans 'Tournaments' %} {% if tournaments|length > 1 %}({{ tournaments|length }}){% endif %}</h1>
            {% include 'tournament/_tournaments_table.html' %}
        {% endif %}

        {% if players %}
            <h1>{% trans 'Players' context 'list of players' %} {% if players|length > 1 %}({{ players|length }}){% endif %}</h1>

            <table class="table table-hover table-responsive-sm mt-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Points' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        <th scope="row">{{ player.rating_result.place|default:'-' }}</th>
                        <td><a href="{% url 'player_details' player.slug %}">{{ player.full_name }}</a></td>
                        <td>{{ player.rating_result.score|default_if_none:'-' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'Riichi mahjong players and tournaments from ' %} {{ city.name|genitive|title }}">
    <meta property="og:description" content="{% trans 'Riichi mahjong players and tournaments from ' %} {{ city.name|genitive|title }}">
{% endblock %}