{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Contacts' %}
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Информация про развитие маджонга">
    <meta property="og:description" content="Информация про развитие маджонга">
{% endblock %}

{% block content %}
    <div>
        <h2>Подача заявки на анонсирование турнира по риичи-маджонгу на Портале</h2>
        <p>Для того, чтобы турнир был анонсирован на Портале, заполните форму на странице: <a href="{% url 'tournament_application' %}">{% url 'tournament_application' %}</a></p>

        <h2>Основные правила аккредитации</h2>
        <p><b>CRR:</b> количество игроков должно быть не меньше 12-ти, количество ханчанов не меньше трёх. Турнир попадёт в CRR-рейтинг. Заявку на Портале оставлять не обязательно, просто напишите любому члену команды развития риичи-маджонга.</p>
        <p><b>RR:</b> количество игроков должно быть не меньше 16-ти, количество ханчанов не меньше четырёх. Турнир попадёт в RR-рейтинг. Нужно оставить заявку на Портале, а после турнира оплатить турнирный взнос в Федерацию.</p>
        <p>Про рейтинги можно почитать здесь: <a href="https://mahjong.click/ru/about/">О рейтингах</a>.</p>
        <p>Более подробную информацию про аккредитацию турниров можно найти в документе <a href="https://docs.google.com/document/d/1dANZEE4q2Q2_l1tQfS1rkC17D6XDiIak8d26I7XcN60/edit?usp=sharing">"Положение о рейтинговой системе и аккредитации турниров по риичи-маджонгу"</a>.</p>

        <h2>Сообщества в социальных сетях</h2>
        <ul>
            <li>VK: <a href="https://vk.com/riichirus" target="_blank">https://vk.com/riichirus</a></li>
            <li>Facebook: <a href="https://www.facebook.com/groups/riichirus" target="_blank">https://www.facebook.com/groups/riichirus</a></li>
        </ul>

        <h2>Как вступить в Федерацию маджонга</h2>
        <p>Согласно Положению Федерации маджонга о рейтинговых системах по маджонгу и отборах игроков на международные турниры, требующие квалификации, только члены Федерации маджонга могут принимать участие в чемпионатах Мира и Европы по маджонгу. Для вступления в Федерацию есть два способа:</p>

        <p><b>Дистанционно:</b></p>
        <p>Условия вступления: <a href="https://mahjong.ru/index.php/federation" target="_blank">https://mahjong.ru/index.php/federation</a></p>

        <p><b>Лично (в Москве):</b></p>
        <ul>
            <li>Договориться с членом Президиума Федерации Виталием Новиковым о встрече - vitaly.novikov@mail.ru, тел. +7-925-779-7928<br>
                <a href="https://vk.com/novikov.mahjong" target="_blank">https://vk.com/novikov.mahjong</a><br>
                <a href="https://www.facebook.com/Novikov.Mahjong" target="_blank">https://www.facebook.com/Novikov.Mahjong</a><br>
            </li>
            <li>Вам понадобится иметь при себе паспорт, распечатанное и заполненное <a href="https://docs.google.com/document/d/1M7IYfFNBqBCAbT2YENkjEiyicviQTuMehrevuUb3cqs/edit?usp=sharing" target="_blank">заявление о вступлении</a> и сумму взноса (500 рублей).</li>
        </ul>

        <p><a href="http://mahjong.ru/" target="_blank">Сайт Федерации маджонга</a></p>

    </div>
{% endblock %}
