{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Contacts' %}
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Информация про развитие маджонга">
    <meta property="og:description" content="Информация про развитие маджонга">
{% endblock %}

{% block content %}
    <div>
        <h2>Подача заявки на аккредитацию турнира</h2>
        <p>Для попадания турнира на портал нужно заполнить форму на странице: <a href="{% url 'tournament_application' %}">{% url 'tournament_application' %}</a></p>

        <h2>Правила аккредитации</h2>
        <p>Исчерпывающую информацию про аккредитацию турниров можно найти в документе: <a href="https://docs.google.com/document/d/1XBNocx2YkbnIF0ILFaDs3RdD4PC83Sy0Ng9rBwR-EMc/">https://docs.google.com/document/d/1XBNocx2YkbnIF0ILFaDs3RdD4PC83Sy0Ng9rBwR-EMc/</a></p>

        <h2>Команда развития риичи-маджонга в России</h2>
        <ul>
            <li><a href="https://vk.com/ramana" target="_blank">Леон Николаев</a> <br>Занимается развитием риичи-маджонга в центральной части России.</li>
            <li><a href="https://vk.com/n1cetry" target="_blank">Алексей Леонтьев</a> <br>Представитель центральной части России.</li>
            <li><a href="https://vk.com/shalimovai" target="_blank">Елена Шалимова</a> <br>Занимается развитием EMA-региона "Сибирь".</li>
            <li><a href="https://vk.com/ctizen" target="_blank">Олег Клименко</a> <br>Руководитель технического направления и создатель <a href="https://github.com/MahjongPantheon/pantheon">Пантеона</a>.</li>
            <li><a href="https://vk.com/id27490555" target="_blank">Иван Калинин</a> <br>Занимается переводами и ведением группы развития в Facebook. Представитель региона "Сибирь".</li>
            <li><a href="https://vk.com/alexey.lisikhin" target="_blank">Алексей Лисихин</a> <br>Представитель региона "Сибирь". Участвует в техническом направлении. Создатель <a href="https://mahjong.click" target="_blank">Маджонг-Портала</a>.</li>
        </ul>

        <h2>Сообщества в социальных сетях</h2>
        <ul>
            <li>VK: <a href="https://vk.com/riichirus" target="_blank">https://vk.com/riichirus</a></li>
            <li>Facebook: <a href="https://www.facebook.com/groups/riichirus" target="_blank">https://www.facebook.com/groups/riichirus</a></li>
        </ul>

        <h2>Федерация маджонга</h2>
        <ul>
            <li><a href="http://mahjong.ru/" target="_blank">Сайт федерации</a></li>
            <li><a href="http://mahjong.ru/index.php?option=com_content&view=article&id=401" target="_blank">Информация про вступление в федерацию</a></li>
            <li><a href="http://mahjong.ru/index.php?option=com_content&view=article&id=403" target="_blank">Прочие документы</a></li>
        </ul>
    </div>
{% endblock %}
