{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Contacts' %}
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Riichi mahjong portal contacts">
    <meta property="og:description" content="Riichi mahjong portal contacts">
{% endblock %}

{% block content %}
    <div>
        <h2>Riichi-committee</h2>
        <ul>
            <li><a href="https://www.facebook.com/yka.nikolaev" target="_blank">Leon Nikolaev</a> <br>Manages Riichi development in European part of Russia.</li>
            <li><a href="https://www.facebook.com/pavel.bogachev.9803" target="_blank">Pavel Bogachev</a> <br>Representative of European part of Russia. Member of technical department.</li>
            <li><a href="https://www.facebook.com/profile.php?id=100008219737188" target="_blank">Elena Shalimova</a> <br>Manages Riichi development in "Siberia" region.</li>
            <li><a href="https://www.facebook.com/oleg.klimenko.5895" target="_blank">Oleg Klimenko</a> <br>The head of technical department. Main developer of <a href="https://mahjongpantheon.github.io/about/">Pantheon</a>.</li>
            <li><a href="https://www.facebook.com/kudesnikivan" target="_blank">Ivan Kalinin</a> <br>Representative of "Siberia" region. Manages Russian Riichi <a href="https://www.facebook.com/groups/riichirus" target="_blank">facebook group</a>.</li>
            <li><a href="https://www.facebook.com/lisikhin" target="_blank">Alexey Lisikhin</a> <br>Representative of "Siberia" region. Member of technical department. Main developer of <a href="https://mahjong.click/en/" target="_blank">Mahjong Portal</a>.</li>
        </ul>

        <h2>Russian Riichi in social networks</h2>
        <ul>
            <li>VK: <a href="https://vk.com/riichirus" target="_blank">https://vk.com/riichirus</a></li>
            <li>Facebook: <a href="https://www.facebook.com/groups/riichirus" target="_blank">https://www.facebook.com/groups/riichirus</a></li>
        </ul>

        <h2>Contact us</h2>
        <p>If you have any questions, please contact us via e-mail: riichi.events@gmail.com</p>
    </div>
{% endblock %}
