{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div>
        <h1>{% trans 'Top 25 players' %}</h1>
        <p>{{ rating.name }}, <a href="{% url 'rating' rating.slug %}">{% trans 'all results' %}</a></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Score' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <th scope="row">{{ player.inner_rating_place }}</th>
                        <td>{{ player.full_name }}</td>
                        <td>{{ player.inner_rating_score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}