{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Mahjong portal" %}
{% endblock %}

{% block content %}
    <div>
        {% if upcoming_tournaments %}
            <h1>{% trans 'Upcoming tournaments' %}</h1>
            {% with upcoming_tournaments as tournaments %}
                {% include 'tournament/_tournaments_table.html' %}
            {% endwith %}
        {% endif %}

        <h1>{% trans 'Top 15 players' %}</h1>
        <p>{{ rating.name }}, <a href="{% url 'rating' rating.slug %}">{% trans 'all results' %}</a></p>
        {% include 'rating/_results_table.html' %}
    </div>
{% endblock %}