{% extends 'base.html' %}
{% load i18n humanize %}

{% block title %}
    IORMC 2018
{% endblock %}

{% block content %}
    <div>
        <h2>IORMC 2018</h2>

        {% if LANGUAGE_CODE == 'ru' %}
            <p>
                В течение года будет проведена серия из трех онлайн-турниров: весенний, летний и осенний. Турниры будут проводиться на платформе tenhou и не будут иметь вступительных взносов. Каждый турнир будет состоять из 7 ханчанов.
            </p>
            <ul>
                <li><a href="{% url 'tournament_details' 'spring-online-tournament-2018' %}">Весенний турнир</a></li>
                <li><a href="{% url 'tournament_details' 'summer-online-tournament-2018' %}">Летний турнир</a></li>
                <li><a href="{% url 'tournament_details' 'autumn-online-tournament-2018' %}">Осенний турнир</a></li>
            </ul>
            <p>По результатам этих турниров будут отобраны 16 лучших игроков из России по следующему принципу:</p>
            <ul>
                <li>если игрок участвовал во всех трех турнирах, то в зачет идет сумма двух лучших его результатов (сумма очков);</li>
                <li>если игрок участвовал только в двух из трех турниров, то в зачет идет сумма результатов этих двух турниров (сумма очков).</li>
            </ul>
            <p>В <a href="{% url 'tournament_details' 'iormc-qualifiers-2018' %}">финале отборов</a> к 16 лучшим игрокам сезонных онлайн-турниров присоединятся игроки, имеющие 6 дан или выше на tenhou.net. Дан игроков будет проверяться на 00:00 27 августа (мск).</p>
            <p>Финал отборов пройдет 30 сентября и будет также состоять из 7 ханчанов. Четверо лучших по результатам финала будут представлять Россию на IORMC 2018. Игроки, занявшие 5 и 6 места, войдут в команду в качестве игроков замены.</p>
        {% else %}
            <p>{% trans 'Qualification results' %}</p>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Player' %}</th>
                    <th scope="col">
                        <a href="/en/tournaments/riichi/spring-online-tournament-2018/">
                            {% trans 'Spring' %}
                        </a>
                    </th>
                    <th scope="col">
                        <a href="/en/tournaments/riichi/summer-online-tournament-2018/">
                            {% trans 'Summer' %}
                        </a>
                    </th>
                    <th scope="col">{% trans 'Autumn' %}</th>
                    <th scope="col">{% trans 'Total' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            {% with item.player as player %}
                                {% include 'common/_player_name.html' %}
                            {% endwith %}
                        </td>
                        <td>
                            {% if item.first %}
                                {{ item.first|floatformat:0|intcomma }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if item.second %}
                                {{ item.second|floatformat:0|intcomma }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if item.third %}
                                {{ item.third|floatformat:0|intcomma }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ item.total|floatformat:0|intcomma }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="IORMC 2018">
    <meta property="og:description" content="IORMC 2018">
{% endblock %}