{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    Регламент онлайн турнира
{% endblock %}

{% block content %}
    <div>
        <h1>Регламент онлайн турнира</h1>
        <p>Ипользуются основные правила игры на tenhou.net (ака доры есть, открытое таняо есть), с небольшими отличиями:</p>
        <ol>
            <li>Начальные очки равны 30000</li>
            <li>Нагаши мангана нет</li>
            <li>Можно уходить в минус</li>
            <li>Если дилер выиграл в орасу и он на первом месте, то игра будет продолжаться пока не выиграет кто-нибудь другой или дилер не окажется нотен</li>
            <li>Ума 15/5, оки нет</li>
        </ol>
        <p>Если при запуске ханчана игрока нет в лобби, то ему будет отправлено оповещение в Telegram. После пяти минут отсутствия в лобби игрок заменяется ботом, и результаты игрока для этого ханчана приравниваются к -30000 (независимо от занятого ботом места и набранных очков). За все последующие пропущенные ханчаны игроку назначается штраф в -30000 очков.</p>
        <p>Перерывы между играми - по 5 минут (плюс-минус время ожидания, пока все доигрывают). После третьей игры перерыв на 30 минут.</p>
        <p>Проведение турнира будет автоматизировано практически полностью. Стартовать игры, объявлять перерывы и прочее будет бот. Единственное, чего бот не умеет делать - это автоматически стягивать реплеи ваших игр, так что участникам самим придётся сбрасывать ссылки на реплеи в чат, откуда уже бот их подберёт и внесёт в Пантеон.</p>
        <p>Онлайн игры имеют свою специфику, и из-за этого мы вводим дополнительные правила зачёта результатов ханчана. При нестабильном интернете случаются дисконекты из игры, и после нескольких дисконектов тенха выкидывает игрока в лобби и заменяет его цумогири-ботом - это означает, что игрок даже при желании уже не сможет продолжать игру. </p>
        <p>В редких ситуациях за столом могут образоваться двое или трое игроков, заменённых цумогири-ботами, что позволит оставшимся в игре набрать очень много очков, постоянно выигрывая свои руку без внешних помех. Для противодействия этой ситуации мы вводим следующее правило: если в ханчане появилось двое цумогири-ботов, то в зачёт идут не финальные очки ханчана, а очки на момент трех прошедших раздач после дисконекта второго из игроков (не считая той, в который произошел дисконнект). Если цумогири-ботов стало сразу трое, очки будут учитываться еще две раздачи. Решение из какой конкретно раздачи будут браться финальные очки остаётся за организаторами турнира.</p>
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Регламент онлайн турнира">
    <meta property="og:description" content="Регламент онлайн турнира">
{% endblock %}