{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    Регламент онлайн турнира
{% endblock %}

{% block content %}
    <div>
        <h1>Регламент онлайн-турниров</h1>

        <h2 id="rules">Правила игр</h2>

        <p>Используются основные правила игры на tenhou.net с небольшими отличиями. В таблице отличия от стандартных правил выделены зелёным цветом, а самые часто задаваемые стандартные правила в таблице присутствуют без фона.</p>

        <div class="table-responsive-sm">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr class="table-success">
                    <td>Начальные очки</td>
                    <td>30000</td>
                </tr>
                <tr class="table-success">
                    <td>Ума</td>
                    <td>30/10</td>
                </tr>
                <tr class="table-success">
                    <td>Ока</td>
                    <td>нет</td>
                </tr>
                <tr class="table-success">
                    <td>Уход в минус по очкам прекращает игру</td>
                    <td>нет</td>
                </tr>
                <tr class="table-success">
                    <td>Агарияме</td>
                    <td>нет (в орасу для смены дилера нужна смена ветров)</td>
                </tr>
                <tr class="table-success">
                    <td>Западный раунд</td>
                    <td>нет</td>
                </tr>
                <tr class="table-success">
                    <td>При равенстве очков</td>
                    <td>ума делится между игроками занявшими одинаковое место (как в EMA)</td>
                </tr>
                <tr>
                    <td>Ака доры</td>
                    <td>да</td>
                </tr>
                <tr>
                    <td>Открытое таняо</td>
                    <td>да</td>
                </tr>
                <tr>
                    <td>Двойной рон</td>
                    <td>да</td>
                </tr>
                <tr>
                    <td>Атамахане</td>
                    <td>нет</td>
                </tr>
                <tr>
                    <td>Абортивные пересдачи</td>
                    <td>да</td>
                </tr>
                <tr>
                    <td>Двойные якуманы</td>
                    <td>нет</td>
                </tr>
                <tr>
                    <td>Сложение якуманов</td>
                    <td>да</td>
                </tr>
                <tr>
                    <td>Нагаши манган</td>
                    <td>есть</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h3>Остальной регламент</h3>

        <p>Рассадка на первую игру рандомная. На все последующие игры используется швейцарская рассадка: игрок играет с другими игроками близкими к нему в турнирной таблице, по возможности, с минимальными пересечениями.</p>

        <p>Перерывы между играми - по 5 минут (плюс время ожидания окончания остальных текущих игр). После третьей игры перерыв 30 минут.</p>

        <p>Проведение турнира будет автоматизировано практически полностью. Стартовать игры, объявлять перерывы и прочее будет бот. Единственное, чего бот не умеет делать - это автоматически брать логи ваших игр, так что участникам самим придётся сбрасывать ссылки на лог игры в чат, откуда уже бот их подберёт и внесёт в Пантеон.</p>

        <p>Всем игрокам в день турнира необходимо будет зайти либо в Telegram группу, либо в Discord группу:</p>

        <ul>
            <li><a href="https://t.me/riichi_tournament">https://t.me/riichi_tournament</a></li>
            <li><a href="https://discord.gg/9vv5R5C">https://discord.gg/9vv5R5C</a></li>
        </ul>

        <p>И подтвердить своё участие.</p>

        <p>Игры стартуют ровно в 10-30 по московскому времени.</p>

        <p>Турнир будет состоять из 7 ханчанов, и победитель определится по сумме очков за все игры (с учётом умы). Примерная продолжительность всего турнира - 7 часов, будьте готовы к этому заранее.</p>

        <h2 id="pseudonyms">Использование псевдонимов</h2>

        <p>Для того, чтобы добавление игрока в онлайн-рейтинг стало возможным, необходимо играть под своим реальным именем.</p>

        <p>Игрок может играть турнир под любым псевдонимом, но тогда результаты не будут добавлены в рейтинг (но они всё ещё будут сохранены в пантеоне и на странице турнира).</p>

        <p>Если игрок выбирает себе неподобающий псевдоним (обсценная лексика, неуместные отсылки, и тому подобное), то администратор турнира предупреждает игрока и заменяет псевдоним случайным набором букв и цифр. Игрок в праве отказаться от замены и не участвовать в турнире. Неуместность псевдонима будет определяться администратором в каждом отдельном случае.</p>

        <h2 id="requirements">Требования к игрокам</h2>

        <p>К турниру допускаются игроки, освоившие основные правила маджонга (умеют отличать пон от чи).</p>

        <p>Также игрок обязан разбираться в основных функциях клиента для игры на tenhou.net: необходимо уметь зайти в турнирное лобби, адекватно сыграть игру, после игры найти ссылку на лог.</p>

        <p>Организатор вправе снять игрока с турнира (с последующим занесением в список заблокированных игроков), если игрок начинает вести себя неадекватно (например, оскорблять всех подряд, или специально накидывать другим игрокам в их руки каждую раздачу). Адекватность и срок блокировки будет оцениваться в каждом случае индивидуально организатором турнира.</p>

        <h2 id="fines">Штрафы</h2>

        <p>Все нижеперечисленные штрафы будут применяться только к онлайн-турнирам организатора Лисихина Алексея.</p>

        <h3>Список заблокированных игроков</h3>

        <p>Если игрок попал в этот список, то все его регистрации на последующие онлайн-турниры будут отменяться.</p>

        <p>Если игрок сыграет турнир под другим именем будучи в списке заблокированных игроков, то он будет внесён в этот список бессрочно.</p>

        <p>В каждом отдельном случае организатор турнира может увеличивать или уменьшать срок пребывания в списке по своему усмотрению.</p>

        <h3>Отсутствие в лобби на момент запуска игр</h3>

        <p>Подтверждая свою регистрацию в турнире игрок обязуется доиграть его до конца, а в случае если игрок не может точно сказать, сможет ли он доиграть турнир по тем или иным внешним причинам - обязан уведомить организаторов заранее.</p>

        <p>Время начала каждого тура публикуется в Telegram\Discord заранее. Игроку необходимо следить за этим и быть в турнирном лобби на момент старта игр.</p>

        <p>Если при запуске ханчана игрока нет в лобби, то ему будет отправлено оповещение в Telegram\Discord. Иногда tenhou.net не видит игрока в лобби, даже если он там находится. В этом случае нужно перезагрузить страницу, и проблема будет решена.</p>

        <p>После неудачной попытки запустить игру игроку даётся пять минут на решение проблемы. По истечении этого срока игрок автоматически заменяется ботом, и результаты игрока для этого ханчана приравниваются к -30000 (независимо от занятого ботом места и набранных им очков). За все последующие пропущенные ханчаны игроку назначается штраф в -30000 очков.</p>

        <p>Если игрок не вернулся к началу следующего тура, то он заносится в список заблокированных игроков на 6 месяцев.</p>

        <h3>Непредставление ссылки на прошедшую игру</h3>

        <p>Подсчёт турнирных результатов зависит от наличия ссылки на лог игры. А без результатов предыдущего тура невозможно начинать следующий тур из-за того что используется швейцарская система рассадки.</p>

        <p>Поэтому критично важно для каждой прошедшей игры получать ссылку на лог. Если вы не знаете как это делать, то до турнира разберитесь с интерфейсом tenhou.net. Это несложно.</p>

        <p>Если к началу следующего тура игроки не отправили ссылку на лог игры, то все игроки игравшие эту игру получают по -30000 очков к финальным результатам. Независимо от реальных набранных очков.</p>

        <h3>Вылеты из игры</h3>

        <p>Онлайн игры имеют свою специфику, и из-за этого мы вводим дополнительные правила зачёта результатов ханчана. При нестабильном интернете случаются дисконекты из игры, и после нескольких дисконектов тенха выкидывает игрока в лобби и заменяет его цумогири-ботом - это означает, что игрок даже при желании уже не сможет продолжать игру. </p>

        <p>В редких ситуациях за столом могут образоваться двое или трое игроков, заменённых цумогири-ботами, что позволит оставшимся в игре набрать очень много очков, постоянно выигрывая свои руки без внешних помех. Для противодействия этой ситуации мы вводим следующее правило: если в ханчане появилось двое цумогири-ботов, то в зачёт идут не финальные очки ханчана, а очки на момент трех прошедших раздач после дисконекта второго из игроков (не считая той, в который произошел дисконнект). Если цумогири-ботов стало сразу трое, очки будут учитываться еще две раздачи. Решение из какой конкретно раздачи будут браться финальные очки остаётся за организаторами турнира.</p>

    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="Регламент онлайн турнира">
    <meta property="og:description" content="Регламент онлайн турнира">
{% endblock %}
