{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Search results for' %} "{{ search_query }}"
{% endblock %}

{% block content %}
    <h2>{% trans 'Search results for' %} "{{ search_query }}"</h2>

    {% if players %}
        <div class="table-responsive-sm">
            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">{% trans 'Player' %}</th>
                    <th scope="col">{% trans 'Dan' %}</th>
                    <th scope="col">{% trans 'Tenhou account' %}</th>
                    <th scope="col">{% trans 'City' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        <td>
                            {% include 'common/_player_name.html' %}
                        </td>
                        <td>
                            <nobr>{{ player.tenhou_object.get_rank_display }}</nobr>
                        </td>
                        <td>
                            {{ player.tenhou_object.tenhou_username }}
                        </td>
                        <td>
                            {% if player.city %}
                                <a href="{% url 'city_page' player.city.slug %}">{{ player.city.name }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{% trans 'nothing found' %}</p>
    {% endif %}
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'Search results for' %} “{{ search_query }}”">
    <meta property="og:description" content="{% trans 'Search results for' %} “{{ search_query }}”">
{% endblock %}
