{% extends 'base.html' %}
{% load i18n humanize player_helper %}

{% block title %}
    {% trans 'World Riichi Championship 2020 Qualifications' %}
{% endblock %}

{% block content %}
    <div>
        <h2>{% trans 'World Riichi Championship 2020 Qualifications' %}</h2>
        {% if LANGUAGE_CODE == 'ru' %}
            <p>
                26-30 августа 2020 года в Вене пройдёт Чемпионат Мира - 2020 World Riichi Championship
                (<a href="https://wrc2020vienna.com/" target="_blank">https://wrc2020vienna.com/</a>)
            </p>
            <p>
                Участники от России будут отбираться по российскому риичи-рейтингу RR. Всем игрокам в топе рейтинга на 1
                февраля 2020 года (в соответствии с количеством выделенных для России мест) будет предложено участие в
                ЧМ. Если кто-то откажется от участия в ЧМ, возможность поехать на турнир получит следующий по
                зафиксированному на 1 февраля рейтингу игрок.
            </p>
            <p>
                В Чемпионате Мира смогут принять участие только те игроки, которые в 2020 году будут являться
                действующими членами Федерации маджонга, поэтому игрокам, которые планируют принять участие в Чемпионате
                Мира, нужно вступить в Федерацию маджонга и оплатить членский взнос за 2020 год.
            </p>
            <p>
                Информация о вступлении в Федерацию и оплате взноса: <a href="https://mahjong.click/ru/contacts/">https://mahjong.click/ru/contacts/</a>
            </p>
            <p>
                Если вы уже являетесь членом Федерации маджонга, не забудьте оплатить взнос за 2020 год.
            </p>
            <p>
                Рейтинг RR на 1 февраля 2020 года приведен ниже.
            </p>
            <p>
                Игроки в топе таблицы выделены цветами согласно их текущему статусу.
            </p>
            <p>
                <span style="background-color: {{ 'green'|ermc_color }}; padding: 5px;">Зеленый</span> - точно едет.
            </p>
            <p>
                <span style="background-color: {{ 'yellow'|ermc_color }}; padding: 5px;">Желтый</span> - скорее всего едет.
            </p>
            <p>
                <span style="background-color: {{ 'orange'|ermc_color }}; padding: 5px;">Оранжевый</span> - пока сомневается, но скорее всего не едет.
            </p>
            <p>
                <span style="background-color: {{ 'blue'|ermc_color }}; padding: 5px;">Голубой</span> - игрок пока ничего не ответил.
            </p>
            <p>
                <span style="background-color: {{ 'pink'|ermc_color }}; padding: 5px;">Розовый</span> - игрок пока что не проходит, но готов ехать, если появится квота.
            </p>
            <p>
                <span style="background-color: {{ 'gray'|ermc_color }}; padding: 5px;">Серый</span> - точно не едет.
            </p>
            <p>
                <span style="background-color: {{ 'dark_green'|ermc_color }}; padding: 5px;">Непонятный темный сине-зеленый цвет</span> - отдельная квота для Владимира Наданьяна, Чемпиона Европы 2019.
            </p>
            <p>
                <span style="background-color: {{ 'violet'|ermc_color }}; padding: 5px;">Фиолетовый</span> - игрок замены, готовый ехать если представится случай.
            </p>
            <p>
                На 1 февраля у России 10 квот. <a href="http://mahjong-europe.org/ranking/quotas_RCR.html" target="_blank">http://mahjong-europe.org/ranking/quotas_RCR.html</a>
            </p>
        {% else %}
            <p>{% trans 'List of players sorted by RR rating (on 1st February 2020)' %}</p>
        {% endif %}

        {% include 'website/_qualification_table.html' %}

    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'List of players sorted by RR rating (on 1st February 2020)' %}">
    <meta property="og:description" content="{% trans 'List of players sorted by RR rating (on 1st February 2020)' %}">
{% endblock %}
