{% if is_tenhou %}
    <a href="{% url 'player_tenhou_details' player.slug %}" class="d-print-none">
{% elif is_last or not rating_date %}
    <a href="{% url 'player_details' player.slug %}" class="d-print-none">
{% else %}
    <a href="{% url 'player_details' player.slug rating_date.year rating_date.month rating_date.day %}" class="d-print-none">
{% endif %}
    {# on large screns show full name #}
    <span class="d-none d-md-block d-print-none">
        {{ player.full_name }}
    </span>
    {# on small screens show shorten first name #}
    <span class="d-block d-md-none d-print-none">
        <nobr>{{ player.last_name }} {{ player.first_name.0 }}.</nobr>
    </span>
</a>

{# special case for print #}
<span class="d-none d-print-block">
    {{ player.full_name }}
</span>
