# each one hour
0 * * * * python /app/manage.py update_ms_statistics

# once a day
10 1 * * * python /app/manage.py rating_calculate rr
20 1 * * * python /app/manage.py rating_calculate crr
30 1 * * * python /app/manage.py rating_calculate online
40 1 * * * python /app/manage.py rating_calculate ema

# once a day
10 0 * * * python /app/manage.py associate_players_with_club
20 0 * * * python /app/manage.py load_pantheon_data --rebuild-from-zero 1

# each 3 minutes
*/3 * * * * python /app/manage.py download_latest_games

# 23:55 Tokyo time
55 14 * * * python /app/manage.py update_tenhou_yakuman

# each 10 minutes
*/10 * * * * python /app/manage.py update_tenhou_rate
