{% load i18n %}

<div class="table-responsive-sm">
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">{% trans 'Date' %}</th>
            <th scope="col">
                {% if tournament_type %}
                    {% trans 'City' %}
                {% else %}
                    {% trans 'Country' %}
                {% endif %}
            </th>
            <th scope="col">{% trans 'Type' %}</th>
            <th scope="col">{% trans 'Players' context 'number of players' %}</th>
            <th scope="col">{% trans 'Sessions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ tournament.get_url }}">{{ tournament.name }}</a></td>
                <td>
                    {% if tournament.is_upcoming %}
                        <nobr>{{ tournament.start_date|date:SHORT_DATE_FORMAT }}</nobr>
                    {% else %}
                        <nobr>{{ tournament.end_date|date:SHORT_DATE_FORMAT }}</nobr>
                    {% endif %}
                </td>
                <td>
                    {% if tournament_type %}
                        {# let's display country, bot city for ema page #}
                        {{ tournament.country.name }}
                    {% else %}
                        {% if tournament.city %}
                            <a href="{% url 'city_page' tournament.city.slug %}">{{ tournament.city.name }}</a>
                        {% else %}
                            {{ tournament.country.name }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% include 'tournament/_tournament_type.html' %}
                </td>
                <td>{{ tournament.number_of_players|default:'-' }}</td>
                <td>{{ tournament.number_of_sessions|default:'-' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>