<p>
    {% if tournament.city %}
        <a href="{% url 'city_page' tournament.city.slug %}">{{ tournament.city.name }}</a>,
    {% endif %}
    {{ tournament.country.name }}
</p>

{% with clubs=tournament.clubs.all %}
    {% if clubs %}
        <p>
            {% for club in clubs %}
                <a href="{% url 'club_details' club.slug %}">{{ club.name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endwith %}

<p>
    {% include 'tournament/_tournament_type.html' %}
</p>