{% load i18n %}

<table class="table table-hover table-responsive-sm mt-4">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Date' %}</th>
        <th scope="col">{% trans 'City' %}</th>
        <th scope="col">{% trans 'Players' %}</th>
        <th scope="col">{% trans 'Sessions' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'tournament_details' tournament.slug %}">{{ tournament.name }}</a></td>
            <td><nobr>{{ tournament.date|date:'d-m-Y' }}</nobr></td>
            <td>
                {% if tournament.city %}
                    <a href="{% url 'city_page' tournament.city.slug %}">{{ tournament.city.name }}</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ tournament.number_of_players }}</td>
            <td>{{ tournament.number_of_sessions|default:'-' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>