{% extends 'base.html' %}
{% load i18n humanize %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ tournament.name }}</h1>

        {% if tournament.is_upcoming %}
            <p>{% trans 'Will be held' %} {{ tournament.start_date }}</p>
        {% else %}
            <p>{% trans 'Held' %} {{ tournament.end_date }}, <a href="{{ tournament.get_url }}">{% trans 'all results' %}</a></p>
        {% endif %}

        {% include 'tournament/_tournament_header.html' %}

        {% if tournament.registration_link %}
            <h3>{% trans 'Registration' %}</h3>
            <p><a href="{{ tournament.registration_link }}" target="_blank">{{ tournament.registration_link }}</a></p>
        {% endif %}

        {% if tournament.registration_description %}
            <h3>{% trans 'Description' %}</h3>
            <p>{{ tournament.registration_description|linebreaksbr }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ tournament.registration_description|default:tournament.name }}">
{% endblock %}