{% extends 'base.html' %}
{% load i18n humanize django_bootstrap5 %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

{% block content %}
    <div class="tournament-registration">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <h1>{{ tournament.name }}</h1>

        {% if tournament.is_upcoming %}
            <p>{% trans 'Will be held' %} {{ tournament.start_date }}</p>

            {% if tournament.opened_registration %}
                {% if tournament.is_online %}
                    {% if tournament.is_majsoul_tournament %}
                        <p>{% trans 'Registered players' %} {{ tournament.ms_online_tournament_registrations.count }}</p>
                    {% else %}
                        <p>{% trans 'Registered players' %} {{ tournament.online_tournament_registrations.count }}</p>
                    {% endif %}
                {% else %}
                    <p>{% trans 'Registered players' %} {{ tournament.tournament_registrations.count }}</p>
                {% endif %}
                {% if full_approved_players_count > 0 %}
                    <p>{% trans 'Approved players' %} {{ full_approved_players_count }}</p>
                {% endif %}
            {% endif %}
        {% else %}
            <p>{% trans 'Held' %} {{ tournament.end_date }}, <a href="{{ tournament.get_url }}">{% trans 'all results' %}</a></p>
        {% endif %}

        {% include 'tournament/_tournament_header.html' %}

        {% if tournament.registration_description %}
            <h3>{% trans 'Description' %}</h3>
            <p>{{ tournament.registration_description|linebreaksbr|urlize }}</p>
        {% endif %}

        {% if missed_tenhou_id_error %}
            <p class="alert alert-danger">{% trans 'Before applying for the tournament, please set tenhou id on Pantheon first' %}</p>
        {% endif %}

        {% if form_data_error %}
            <p class="alert alert-danger">{% trans 'Incorrect form data' %}</p>
        {% endif %}

        {% if is_already_registered %}
            <p class="alert alert-success">{% trans 'You are already registered on the tournament!' %}</p>
            {% if tournament.is_online and registration_confirm_code %}
                <p class="alert alert-warning">
                    {% trans 'Your confirm code:' %} {{ registration_confirm_code }}
                </p>
            {% endif %}
        {% elif tournament.is_pantheon_registration %}
            {% if tournament.opened_registration %}
                {% if not user.is_authenticated %}
                    <p>
                        <a href="{% url 'do_login' %}?next={% url 'tournament_announcement' tournament.slug %}" class="btn btn-primary">{% trans 'Login through Pantheon to apply for tournament' %}</a>
                    </p>
                {% else %}
                    <form class="form" style="max-width: none" action="{% url 'pantheon_tournament_registration' tournament.id %}" method="POST">
                        {% csrf_token %}

                        {% bootstrap_form form %}

                        <button type="submit" class="btn btn-primary">{% trans 'Apply for tournament through Pantheon account' %}</button>
                    </form>
                {% endif %}
            {% endif %}
        {% elif tournament.opened_registration %}
            <h3 id="registration">{% trans 'Registration' %}</h3>
            <form class="form" action="{% url 'tournament_registration' tournament.id %}" method="POST">
                {% csrf_token %}

                {% bootstrap_form form %}

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                </div>
            </form>
        {% elif tournament.registration_link %}
            <h3>{% trans 'Registration' %}</h3>
            <p><a href="{{ tournament.registration_link }}" target="_blank">{{ tournament.registration_link }}</a></p>
        {% endif %}

        {% if registration_results %}
            <h3 id="players">{% trans 'Participants' %}</h3>
            <div class="table-responsive-sm">
                <table class="table table-hover mt-4">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Name' %}</th>
                        <th scope="col">{% trans 'City' %}</th>
                        {% if tournament.is_online %}
                            {% if tournament.is_majsoul_tournament %}
                                <th scope="col">{% trans 'Majsoul nickname' %}</th>
                            {% else %}
                                <th scope="col">{% trans 'Tenhou.net nickname' %}</th>
                            {% endif %}
                        {% endif %}

                        {% if not tournament.is_majsoul_tournament %}
                            <th scope="col">{% trans 'Dan' %}</th>
                        {% endif %}

                        {% if tournament.display_notes and tournament.share_notes and tournament.is_command %}
                            <th scope="col">{% trans 'Team' %}</th>
                        {% else %}
                            {% if tournament.display_notes and tournament.share_notes %}
                                <th scope="col">{% trans 'Notes' %}</th>
                            {% endif %}
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for registration_item in registration_results %}
                        <tr {% if registration_item.is_highlighted %}class="table-success" {% endif %}>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if registration_item.player %}
                                    {% with registration_item.player as player %}
                                        {% include 'common/_player_name.html' %}
                                    {% endwith %}
                                {% else %}
                                    {{ registration_item.full_name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if registration_item.player and registration_item.player.city %}
                                    <a href="{% url 'city_page' registration_item.player.city.slug %}">{{ registration_item.player.city.name }}</a>
                                {% elif registration_item.city_object %}
                                    <a href="{% url 'city_page' registration_item.city_object.slug %}">{{ registration_item.city_object.name }}</a>
                                {% else %}
                                    {{ registration_item.city }}
                                {% endif %}
                            </td>

                            {% if tournament.is_online %}
                                {% if tournament.is_majsoul_tournament %}
                                    {% if registration_item.player.ms_object %}
                                        <td><a href="{% url 'player_ms_details' registration_item.player.slug %}" class="d-print-none">{{ registration_item.ms_nickname }}</a></td>
                                    {% else %}
                                        <td>{{ registration_item.ms_nickname }}</td>
                                    {% endif %}
                                {% else %}
                                    <td>{{ registration_item.tenhou_nickname }}</td>
                                {% endif %}
                            {% endif %}

                            {% if not tournament.is_majsoul_tournament %}
                                <td>
                                    {% with registration_item.player as player %}
                                        {% include 'player/_online_account.html' %}
                                    {% endwith %}
                                </td>
                            {% endif %}

                            {% if tournament.display_notes and tournament.share_notes %}
                                <td>
                                    {{ registration_item.notes }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ tournament.registration_description|default:tournament.name }}">
    <meta property="og:description" content="{{ tournament.registration_description|default:tournament.name }}">
{% endblock %}
