{% extends 'base.html' %}
{% load i18n humanize django_bootstrap5 %}

{% block title %}
    {% trans 'Tournament application' %}
{% endblock %}

{% block content %}
    <div>
        <h1>{% trans 'Tournament application' %}</h1>

        <p>{% trans 'Please tell us about your tournament. We will contact with you in 3 days after application.' %}</p>

        {% if success %}
            <div class="alert alert-success">
                {% trans 'Your application was saved! We will contact with you for further details.' %}
            </div>
        {% endif %}

        <form class="form mw-600" action="{% url 'tournament_application' %}" method="POST">
            {% csrf_token %}

            <ul class="list-group mb-4 mt-4">
                <li class="list-group-item list-group-item-info">{% trans 'Main info' %}</li>
                <li class="list-group-item">
                    <div class="table-responsive-sm">
                        {% bootstrap_field form.tournament_name %}
                        {% bootstrap_field form.tournament_type %}
                        {% bootstrap_field form.city %}
                        {% bootstrap_field form.address %}
                    </div>
                </li>
            </ul>

            <ul class="list-group mb-4 mt-4">
                <li class="list-group-item list-group-item-info">{% trans 'Additional info' %}</li>
                <li class="list-group-item">
                    <div class="table-responsive-sm">
                        {% bootstrap_field form.additional_info_link %}
                        {% bootstrap_field form.number_of_games %}
                        {% bootstrap_field form.max_number_of_participants %}
                        {% bootstrap_field form.entry_fee %}
                        {% bootstrap_field form.pantheon_needed %}
                        {% bootstrap_field form.rules %}
                        {% bootstrap_field form.registration_type %}
                    </div>
                </li>
            </ul>


            <ul class="list-group mb-4">
                <li class="list-group-item list-group-item-info">{% trans 'Dates' %}</li>
                <li class="list-group-item">
                    <div class="table-responsive-sm">
                        {% bootstrap_field form.start_date %}
                        {% bootstrap_field form.end_date %}
                    </div>
                </li>
            </ul>

            <ul class="list-group mb-4">
                <li class="list-group-item list-group-item-info">{% trans 'Organizer' %}</li>
                <li class="list-group-item">
                    <div class="table-responsive-sm">
                        {% bootstrap_field form.organizer_name %}
                        {% bootstrap_field form.organizer_phone %}
                        {% bootstrap_field form.organizer_additional_contact %}
                        {% if user.is_authenticated %}
                            {% bootstrap_field form.is_admin_myself %}
                        {% endif %}
                    </div>
                </li>
            </ul>

            <ul class="list-group mb-4">
                <li class="list-group-item list-group-item-info">{% trans 'Referee' %}</li>
                <li class="list-group-item">
                    <div class="table-responsive-sm">
                        {% bootstrap_field form.referee_name %}
                        {% bootstrap_field form.referee_phone %}
                        {% bootstrap_field form.referee_additional_contact %}
                        {% bootstrap_field form.referee_english %}
                    </div>
                </li>
            </ul>

            <ul class="list-group mb-4">
                <li class="list-group-item list-group-item-info">{% trans 'Other' %}</li>
                <li class="list-group-item">
                    <div class="table-responsive-sm">
                        {% bootstrap_field form.additional_info %}
                    </div>
                </li>
            </ul>

            {% bootstrap_field form.allow_to_save_data %}

            <div class="text-end">
                <button type="submit" class="btn btn-success">{% trans 'Submit' context 'new tournament' %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% trans 'Tournament application' %}">
    <meta property="og:description" content="{% trans 'Tournament application' %}">
{% endblock %}
