{% extends 'base.html' %}
{% load i18n humanize meta_tags_helper %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ tournament.name }}</h1>

        {% include 'tournament/_tournament_top_header.html' %}

        {% if tournament.pantheon_id %}
            {% get_current_language as LANGUAGE_CODE %}

            <p>
                <a href="https://gui.mjtop.net/eid{{ tournament.pantheon_id }}/stat?l={{ LANGUAGE_CODE }}" target="_blank">{% trans 'Detailed tournament statistics' %}</a>
            </p>
        {% endif %}

        {% include 'tournament/_tournament_header.html' %}

        {% if tournament.results_description %}
            <p>{{ tournament.results_description|linebreaksbr|urlize }}</p>
        {% endif %}

        {% include 'tournament/_tournament_results.html' %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% tournament_page_description tournament %}">
    <meta property="og:description" content="{% tournament_page_description tournament %}">
{% endblock %}