{% extends 'base.html' %}
{% load i18n %}

{% block additiona_title %}
    {{ tournament.name }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ tournament.name }}</h1>
        <p>
            {% trans 'Held' %} {{ tournament.date }},
            {% trans 'with' %} {{ tournament.number_of_players }} {% trans 'players' %}
            {% trans 'and' %} {{ tournament.number_of_sessions }} {% trans 'sessions' %}
        </p>
        <p>
            {% if tournament.is_official_ema %}
                <span class="badge badge-success">{{ tournament.tournament_type.name }}</span>
            {% else %}
                <span class="badge badge-primary">{{ tournament.tournament_type.name }}</span>
            {% endif %}
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Scores' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <th scope="row">{{ result.place }}</th>
                    <td>
                        {% if result.player.is_replacement %}
                            {{ result.player.full_name }}
                        {% else %}
                            <a href="{% url 'player_details' result.player.slug %}">{{ result.player.full_name }}</a>
                        {% endif %}
                    </td>
                    {# two default filters is not mistake, it didn't work with float otherwise #}
                    <td>{{ result.scores|default:'-'|floatformat:0|default:'-' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}