{% extends 'base.html' %}
{% load i18n meta_tags_helper %}

{% block title %}
    {% tournaments_list_title tournament_type selected_year %}
{% endblock %}

{% block content %}
    <div>
        {% if upcoming_tournaments %}
            <h1>{% trans 'Upcoming tournaments' %}</h1>
            {% with tournaments=upcoming_tournaments is_upcoming=True  %}
                {% include 'tournament/_tournaments_table.html' %}
            {% endwith %}
        {% endif %}

        <h1>{% tournaments_list_title tournament_type selected_year %}</h1>

        <div class="filters">
            {% for year in years %}
                {% if tournament_type %}
                    <a href="{% url 'tournament_ema_list' 'ema' year %}">
                        <span class="badge bg-{% if selected_year == year %}success{% else %}primary{% endif %}">{{ year }}</span>
                    </a>
                {% else %}
                    <a href="{% url 'tournament_list' year %}">
                        <span class="badge bg-{% if selected_year == year %}success{% else %}primary{% endif %}">{{ year }}</span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        {% if tournaments %}
            {% with reverse_counter=True %}
                {% include 'tournament/_tournaments_table.html' %}
            {% endwith %}
        {% else %}
            <p class="mt-4">{% trans 'Nothing here' %}</p>
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{% tournaments_list_description tournament_type selected_year %}">
    <meta property="og:description" content="{% tournaments_list_description tournament_type selected_year %}">
{% endblock %}
