{% extends 'base.html' %}
{% load i18n %}

{% block additiona_title %}
    {% trans 'Tournaments' %}
    {% if current_year != 'all' %}
        {% trans 'during' %} {{ current_year }}
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% if upcoming_tournaments %}
            <h1>{% trans 'Upcoming tournaments' %}</h1>
            {% with upcoming_tournaments as tournaments %}
                {% include 'tournament/_tournaments_table.html' %}
            {% endwith %}
        {% endif %}

        <h1>
            {% trans 'Tournaments' %}
            {% if current_year != 'all' %}
                {% trans 'during' %} {{ current_year }}
            {% endif %}
        </h1>

        <div class="filters">
            {% for year in years %}
                {% if tournament_type %}
                    <a href="{% url 'tournament_ema_list' 'ema' year %}">
                        <span class="badge badge-{% if current_year == year %}success{% else %}primary{% endif %}">{{ year }}</span>
                    </a>
                {% else %}
                    <a href="{% url 'tournament_list' year %}">
                        <span class="badge badge-{% if current_year == year %}success{% else %}primary{% endif %}">{{ year }}</span>
                    </a>
                {% endif %}

            {% endfor %}
        </div>
        {% include 'tournament/_tournaments_table.html' %}
    </div>
{% endblock %}